<script>
    window["aa3"] = {
        indice: "aa3",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa3").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                box: _containerTela.find('.containerGeral'),
                img_H: course.height,
                img_W: course.width,
            });

            var _modulo = 1;
            _containerTela.find(".itemX").addClass('item' + _modulo);
            course.controleCarregamento();

            if (_tela.status == false) {
                _tela.status = true;



            } else {

            }
        }
    })
</script>


<div class="containerAA3 containerAABase">

    <div class="containerGeral">

        <div class="titulo posicionar animated fadeIn" px="127" py="300">
            <div class="animated fadeInUp delay0_8 light size65 azul3">
                Capítulo 1 - Conceitos
            </div>
        </div>

        <div class="lineBase posicionar animated fadeIn" px="127" py="390">
            <div class="animated fadeInRight delay1_2"></div>
        </div>

        <div class="textBase posicionar animated fadeIn" px="127" py="452">
            <div class="animated fadeInUp delay1_4 size28 azul3">
                Esta é a primeira porta de acesso que você precisa ampliar a segurança. Para isso, vamos estudar as bases da proteção de dados e da LGPD.
                <br><br> O que você deve ter em mente é que devemos sempre buscar a segurança dos dados dos titulares. Sejam clientes, funcionários, terceiros <br>ou prestadores de serviço.
                <br><br> Busque compreender essas primeiras informações, depois responda aos desafios para tornar essa primeira porta completamente segura.
            </div>
        </div>


        <div class="itemX posicionar status1" px="127" py="910">
            <div class="itBasx animated fadeIn delay2_6">
                <div class="escudo mr20">
                    <div class="escudoX1"></div>
                    <div class="escudoX2"></div>
                    <div class="escudoX3"></div>
                </div>
                <div class="carregamento">
                    <div class="imgCarregamento">
                        <div class="imgCarr1"></div>
                        <div class="imgCarr2"></div>
                        <div class="imgCarr3"></div>

                        <div class="size13 center txtCarr">
                            Nível de segurança
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>