<script>
    window["aa5"] = {
        indice: "aa5",
        status: false,
        correto: 0,
        tema: 1,
        exerc: 1
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa5").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                box: _containerTela.find('.containerGeral'),
                img_H: course.height,
                img_W: course.width,
            });


            block();
            if (_tela.status == false) {
                _tela.status = true;


                exercicio();

            } else {

            }

            function block() {



                var _exercCurrent = "e" + _tela.tema + "_" + _tela.exerc;


                if (course.scorm_get_suspendData(_exercCurrent)) {

                    course.notaCurrent();

                    var _res = course.scorm_get_suspendData(_exercCurrent);

                    if (_res == 1) {
                        _containerTela.find(".feedPositivo").css('display', 'flex');
                    } else {
                        _containerTela.find(".feedNegativo").css('display', 'flex');
                    }
                    course.liberarNavegacao();
                }




            }

            function exercicio() {

                var _item;
                var _oldItem = _containerTela.find('.numR');
                var _travar = false;

                _containerTela.find('.itemL').on('click', function() {

                    _containerTela.find('.numL').addClass('animated');
                    _containerTela.find('.numL').removeClass('numLAtivo');

                    $(this).find('.numL').removeClass('animated');
                    $(this).find('.numL').addClass('numLAtivo');

                    _item = $(this).find('.numL');

                });

                _containerTela.find('.numR').on('click', function() {

                    var _txt = _item.text();
                    var _itemCurrent = _item.attr('item');
                    var _color = _item.css('background-color');

                    _containerTela.find('.numR').each(function() {
                        if ($(this).text() == _item.text()) {
                            $(this).text('');
                            $(this).css('background-color', '#fff');
                        }
                    });

                    $(this).text(_txt);
                    $(this).attr('item', _itemCurrent);
                    $(this).css('background-color', _color);

                    var _comp = true;
                    var _res = true;
                    _containerTela.find('.numR').each(function() {

                        if ($(this).text() == '') {
                            _comp = false;
                            _containerTela.find(".btnConfirmar").css('display', 'none');
                        }

                        if ($(this).attr('item') != $(this).attr('res')) {
                            _res = false;
                        }
                    });

                    //verifica se todos estao preenchios
                    if (_comp)
                        _containerTela.find(".btnConfirmar").css('display', 'flex');



                    //verifica se a resposta esta correta
                    if (_res) {
                        _tela.correto = 1;
                    } else {
                        _tela.correto = 0;
                    }

                });

                _containerTela.find(".btnConfirmar").on('click', function() {

                    _containerTela.find(".btnConfirmar").css('display', 'none');
                    var _exercCurrent = "e" + _tela.tema + "_" + _tela.exerc;

                    //
                    if (_tela.correto == 1) {
                        course.scorm_set_suspendData(_exercCurrent, 1);
                        course.notaCurrent();
                        _containerTela.find(".feedPositivo").css('display', 'flex');


                    } else {
                        course.scorm_set_suspendData(_exercCurrent, 0);
                        course.notaCurrent();
                        _containerTela.find(".feedNegativo").css('display', 'flex');

                    }

                    var _feito = [];

                    _containerTela.find(".numR").each(function(indice, item) {
                        _feito.push({
                            text: $(item).text(),
                            color: $(item).css('background-color')
                        });
                    });

                    var _exercCurrent = "ed" + _tela.tema + "_" + _tela.exerc;
                    course.scorm_set_suspendData(_exercCurrent, JSON.stringify(_feito));

                });


                _containerTela.find(".fecharFeed").on("click", function() {
                    // $("body").attr("nav", "next");
                    // $("body").trigger("navegacao");

                    var _exercCurrent = "ed" + _tela.tema + "_" + _tela.exerc;
                    if (course.scorm_get_suspendData(_exercCurrent)) {
                        var _feito = JSON.parse(course.scorm_get_suspendData(_exercCurrent));

                        $.each(_feito, function(indice, item) {
                            _containerTela.find('.numR').eq(indice).css('background-color', item.color);
                            _containerTela.find('.numR').eq(indice).text(item.text);
                        });
                    }


                    _containerTela.find('.itemL').addClass("inativoX");
                    _containerTela.find('.numR').addClass("inativoX");
                    _containerTela.find('.numL').removeClass('numLAtivo');
                    _containerTela.find(".feed").css('display', 'none');

                    course.liberarNavegacao();
                });
            }
        }
    })
</script>


<div class="containerAA5 containerAABase">

    <div class="containerGeral">

        <div class="titulo posicionar animated fadeIn" px="127" py="230">
            <div class="icox animated zoomIn delay0_8">

            </div>
            <div class="txtx animated fadeInUp delay0_8 light size35 azul3">
                Para que você comprove que está avançando neste tema e consiga aumentar a segurança desta primeira porta, relacione as informações com as definições corretas:
            </div>
        </div>

        <div class="lineBase posicionar animated fadeIn" px="127" py="400">
            <div class="animated fadeInRight delay1_2"></div>
        </div>

        <div class="content posicionar animated fadeIn delay1_6" px="250" py="430">
            <div class="exercicio size25 book2">
                <div class="item">
                    <div class="itemL">
                        <div class="textL size35 azul1">
                            Dado pessoal
                        </div>
                        <div class="numL bold2 branco" item=1>
                            01
                        </div>
                    </div>
                    <div class="itemR">
                        <div class="numR bold2 branco" res=4></div>
                        <div class="textR size28">
                            Toda operação realizada com dados pessoais, como coleta, utilização, processamento, armazenamento e eliminação.
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="itemL">
                        <div class="textL size35 azul1">
                            Aplicação
                        </div>
                        <div class="numL bold2 branco" item=2>
                            02
                        </div>
                    </div>
                    <div class="itemR">
                        <div class="numR bold2 branco" res=3></div>
                        <div class="textR size28">
                            Manifestação livre, informada e inequívoca pelo qual o titular concorda com o tratamento de seus dados pessoais para uma finalidade determinada.
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="itemL">
                        <div class="textL size35 azul1">
                            Consentimento
                        </div>
                        <div class="numL bold2 branco" item=3>
                            03
                        </div>
                    </div>
                    <div class="itemR">
                        <div class="numR bold2 branco" res=1></div>
                        <div class="textR size28">
                            Qualquer informação relacionada a uma pessoa natural que possa ser identiﬁcada ou identificável a partir dos dados
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="itemL">
                        <div class="textL size35 azul1">
                            Tratamento
                        </div>
                        <div class="numL bold2 branco" item=4>
                            04
                        </div>
                    </div>
                    <div class="itemR">
                        <div class="numR bold2 branco" res=2></div>
                        <div class="textR size28">
                            Qualquer pessoa natural ou jurídica de direito público ou privado que realize qualquer tipo de tratamento de dados pessoais.
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="btnConfirmar posicionar size35" px="1288" py="965">
            <div class="btnX light animated zoomIn delay0_2">
                RESPODER
            </div>
            <div class="btnY bold2 animated zoomIn delay0_4">
                01 PONTO
            </div>
        </div>

        <div class="feed feedPositivo posicionar animated fadeIn azul1" px="0" py="0">

            <div class="feedBase animated fadeInUp delay0_6 branco">
                <div class="fecharFeed"></div>

                <div class="feedInt book2">
                    <div class="tiX size70 light">
                        Parabéns!
                    </div>
                    <div class="size23 mt20 bold2">
                        ISSO MESMO!
                    </div>
                    <div class="size35 mt20">
                        Você relacionou corretamente os conceitos e suas definições.
                    </div>

                    <div class="subInfo">
                        <div class="bold2 size40 up">
                            Sua pontuação é:
                        </div>
                        <div class="bold2 size65">
                            <span class="numberCurrent">01</span> de <span class="numberAll">08</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="feed feedNegativo posicionar animated fadeIn azul1" px="0" py="0">

            <div class="feedBase animated fadeInUp delay0_6 azul1">
                <div class="fecharFeed"></div>

                <div class="feedInt book2">
                    <div class="tiX size70 light">
                        Não foi desta vez!
                    </div>
                    <div class="size23 mt20 bold2 up">
                        VAMOS REVER…
                    </div>
                    <div class="size35 mt20">
                        Você errou duas ou mais definições. Fique atento pois os conceitos básicos serão utilizados ao longo de todo o curso.
                    </div>

                    <div class="subInfo">
                        <div class="bold2 size40 up">
                            Sua pontuação é:
                        </div>
                        <div class="bold2 size65">
                            <span class="numberCurrent">01</span> de <span class="numberAll">08</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    </div>

</div>