<script>
    window["aa24"] = {
        indice: "aa24",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa24").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());


            reset();

            if (_tela.status == false) {
                _tela.status = true;


                nav();

            } else {

            }

            function nav() {

                _containerTela.find(".nleft").on('click', function() {

                    var _step = parseInt($(this).parent().attr('stepAtivo')) - 1;
                    $(this).parent().attr('stepAtivo', _step);

                    _containerTela.find(".nright").css('display', 'flex');

                    if (_step == 1)
                        _containerTela.find(".nleft").css('display', 'none');

                    _containerTela.find(".step").css('display', 'none');
                    _containerTela.find(".step" + _step).css('display', 'flex');

                    controleFundo(_step);

                });

                _containerTela.find(".nright").on('click', function() {

                    var _step = parseInt($(this).parent().attr('stepAtivo')) + 1;
                    var _stepAll = _containerTela.find(".step").length;

                    _containerTela.find(".nleft").css('display', 'flex');

                    if (_step == _stepAll) {

                        course.liberarNavegacao();
                        _containerTela.find(".nright").css('display', 'none');
                    }



                    $(this).parent().attr('stepAtivo', _step);

                    _containerTela.find(".step").css('display', 'none');
                    _containerTela.find(".step" + _step).css('display', 'flex');

                    controleFundo(_step);

                });



            }

            function controleFundo(_step) {

                _containerTela.find(".baX").css('display', 'none');
                if (_step == 1) {
                    _containerTela.find(".baX1").css('display', 'block');
                } else if (_step > 1 && _step < 5) {
                    _containerTela.find(".baX2").css('display', 'block');
                } else {
                    _containerTela.find(".baX3").css('display', 'block');
                }

            }

            function reset() {
                _containerTela.find(".nav").attr('stepAtivo', 1);
                _containerTela.find(".step").css('display', 'none');
                _containerTela.find(".nX").css('display', 'none');

                _containerTela.find(".nright").css('display', 'flex');
                _containerTela.find(".step1").css('display', 'flex');

                controleFundo(1);
            }



        }


    })
</script>


<div class="containerAA24 containerAABase">
    <div class="containerGeral">

        <div class="baX baX1">
            <div class="baseFundoXD posicionar animated fadeIn delay0_2" px="52" py="195"></div>
            <div class="lineX posicionar animated fadeIn" px="257" py="192"></div>
        </div>

        <div class="baX baX2">
            <div class="baseFundoXD posicionar animated fadeIn delay0_2" px="52" py="195"></div>
            <div class="lineX posicionar animated fadeIn" px="257" py="192"></div>
        </div>

        <div class="baX baX3">
            <div class="baseFundoXD posicionar animated fadeIn delay0_2" px="52" py="195"></div>
            <div class="lineX posicionar animated fadeIn" px="257" py="192"></div>
        </div>


        <div class="bloco posicionar animated fadeIn delay0_8" px="325" py="280">


            <div class="nav branco light size22 azul3" stepAtivo=1>
                <div class="nX nleft">
                    <span>Voltar</span>
                </div>
                <div class="nX nright">
                    <span>Veja mais</span>
                </div>
            </div>

            <div class="step step1 animated fadeIn delay0_2" step=1>
                <div class="azul1 size45 light">
                    Como você pode imaginar, a LGPD também tem efeito nas relações de trabalho, no Estado (exigindo que haja autoridades de fiscalização), nas relações internacionais, além de diversos outros desafios para sua aplicação.<br><br> Vamos
                    analisar agora esses efeitos:
                </div>
            </div>

            <div class="step step2 animated fadeIn delay0_2" step=2>
                <div class="azul1 size30 ">
                    <div class="bold size60">
                        Direitos dos colaboradores
                    </div>
                    <div class="mt10">
                        <span class="bold">Fase Pré-Contratual</span><br> Empresas devem informar o candidato de maneira clara que seus dados serão utilizados para recrutamento, avaliação e seleção e informar o prazo de manutenção.
                        <br><br> As empresas deverão ter cautela no uso de informações pretéritas do candidato (ex.: existência de ações trabalhistas) como elemento capaz de definir sua contratação ou não, já que, nos termos da LGPD, dados pessoais referentes
                        ao exercício regular de direitos pelo titular não podem ser utilizados em seu prejuízo (art. 21).
                    </div>
                </div>
            </div>

            <div class="step step3 animated fadeIn delay0_2" step=3>
                <div class="azul1 size30 ">
                    <div class="bold size60">
                        Direitos dos colaboradores
                    </div>
                    <div class="mt10">
                        <span class="bold">Fase Contratual</span><br> O consentimento para tratamento dos dados pessoais do empregado agora está previsto no contrato de trabalho:<br><br>
                        <ul>
                            <li>
                                Consentimento expresso e as finalidades determinadas;
                            </li>
                            <li>
                                Alterações relacionadas ao tratamento das informações devem <br>ser comunicadas.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="step step4 animated fadeIn delay0_2" step=4>
                <div class="azul1 size30 ">
                    <div class="bold size60">
                        Direitos dos colaboradores
                    </div>
                    <div class="mt10">
                        <span class="bold">Fase Pós-Contratual</span><br> Encerrada a relação de trabalho, os dados pessoais do empregado podem ser eliminados, salvo nas hipóteses de obrigação legal de conservar tais documentos, para atendimento, por
                        exemplo, de fiscalizações e ações trabalhistas.
                    </div>
                </div>
            </div>

            <div class="step step5 animated fadeIn delay0_2" step=5>
                <div class="azul1 size30 ">
                    <div class="bold size60">
                        Autoridade e Conselho Nacional de Proteção De Dados
                    </div>
                    <div class="mt10">
                        <span class="bold">Principais competências:</span><br>
                        <ul>
                            <li>
                                Zelar pela proteção de dados nos termos da Lei.
                            </li>
                            <li>
                                Elaborar a Política Nacional de Dados Pessoais.
                            </li>
                            <li>
                                Fiscalizar e aplicar sanções no caso de desacordo com a Lei.
                            </li>
                            <li>
                                Ouvir os agentes de tratamento e sociedade sobre privacidade<br> e prestar contas.
                            </li>
                            <li>
                                Auditar.
                            </li>
                            <li>
                                Avaliar o nível de proteção de dados para transferência<br> internacional de dados.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="step step6 animated fadeIn delay0_2" step=6>
                <div class="azul1 size30 ">
                    <div class="bold size60">
                        Conselho Nacional de Proteção <br>de Dados
                    </div>
                    <div class="mt10">
                        <span class="bold">Principais competências:</span><br>
                        <ul>
                            <li>
                                Propor diretrizes estratégicas.
                            </li>
                            <li>
                                Elaborar relatórios anuais de avaliação da execução das ações <br>da Política Nacional.
                            </li>
                            <li>
                                Sugerir ações a serem realizadas pela ANPD.
                            </li>
                            <li>
                                Elaborar estudos e debates e audiências públicas.
                            </li>
                            <li>
                                Disseminar conhecimento.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>




        </div>



    </div>


</div>