/*= AA1
	----------------------------*/

.containerAA1 {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    /* background: url(../../img/cenario1.jpg) no-repeat center;
    background-size: cover; */
}

.containerAA1 .baseFundoX {
    background: url(../../img/aa1.png) no-repeat center;
    background-size: content;
}


/* -------------------------------- 

Main Components 

-------------------------------- */

.containerAA1 .content {
    position: absolute;
    width: 450px;
    letter-spacing: 17px;
    font-size: 60px;
    line-height: normal;
    height: 200px;
}

.containerAA1 .content .sub {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    border-left: 3px solid #fff;
    align-items: center;
    padding: 20px;
    overflow: hidden;
}