/*= AA1
	----------------------------*/

.containerAA1 {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    /* background: url(../../img/cenario1.jpg) no-repeat center;
    background-size: cover; */
}

.containerAA1 .baseFundoX {
    background: url(../../img/aa1.png) no-repeat center;
    background-size: content;
}


/* -------------------------------- 

Main Components 

-------------------------------- */

.containerAA1 .titulo {
    position: absolute;
    width: 885px;
}

.containerAA1 .lineBase {
    position: absolute;
    width: 88px;
}

.containerAA1 .lineBase div {
    position: relative;
    width: 100%;
    border: 3px solid #063796;
}

.containerAA1 .textBase {
    position: absolute;
    width: 828px;
}