/*= AA1
----------------------------*/

.containerAA12 {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    /* background: url(../../img/cenario6.jpg) no-repeat center;
    background-size: contain; */
}

/* -------------------------------- 

Main Components 

-------------------------------- */


.containerAA12 .content{
    position: absolute;
    width: 930px;
    line-height: normal;
    display:flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
}

.containerAA12 .content .sub{
    position: relative;
    width:100%;
    height:100%;
    margin-left: 100px;
    margin-top: 15px;
}


.containerAA12 .item{
    position: relative;
    width: 400px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 30px;
    pointer-events: none;
    
}

.containerAA12 .item .ico{
    position: relative;
    padding: 20px;
    width: 100px;
    height: 100px;
    border: 2px solid #0D2554;
    border-radius:20px;
    background: url(../../img/ico2.svg) no-repeat center;
    background-size: 80%;   
}


.containerAA12 .item .text{
    padding: 10px;
    color: #0D2554;
    font-size: 30px;
}


.containerAA12 .blocos{
    position: absolute;
    width: 930px;
}

.containerAA12 .titulo{
    display: flex;
    flex-direction: row;
    text-align: center;
}
/* 
.containerAA12 .titulo div{
    width: 50%;
} */

.containerAA12 .block{
    display: flex;
    flex-direction: row;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    margin-top: 0px;
}


.containerAA12 .block .it{
    width: 45%;
    padding: 10px;
}
.containerAA12 .block .seta{
    width: 10%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.containerAA12 .block .item1{
    border: 1px solid #0D2554;
}

.containerAA12 .info{
    width: 100%;
    text-align: center;
}

.containerAA12 .sInativo{
    /* opacity: 0;
    pointer-events: none; */
    display: none;
}


.containerAA12 .triagGrande{
    position: absolute;
    background: url(../../img/triangulo.png) no-repeat center;
    background-size: 100%;
    width: 394px;
    height: 332px;   
}

.containerAA12 .triagBlock{
    position: absolute;
    background: url(../../img/blocoTriangulo.png) no-repeat center;
    background-size: 100%;
    width: 594px;
    height: 332px;
    display: none;
    overflow: hidden;   
}

.containerAA12 .ico1{
    position: absolute;
     width: 120px;
    height: 101px;
    cursor: pointer; 
}

.containerAA12 .ico1 .icoX{
    width: 100%;
    height: 100%;
    background: url(../../img/triangulo1b.svg) no-repeat;
    background-position-x:0;
}

.containerAA12 .ico1 .icoX:hover{
    background-position-x:-129px;
}

.containerAA12 .ico2{
    position: absolute;
    width: 120px;
    height: 101px;
    cursor: pointer; 
}

.containerAA12 .ico2 .icoX{
    width: 100%;
    height: 100%;
    background: url(../../img/triangulo2b.svg) no-repeat;
    background-position-x:0;
}

.containerAA12 .ico2 .icoX:hover{
    background-position-x:-129px;
}

.containerAA12 .ico3{
    position: absolute;
    width: 120px;
    height: 101px;
    cursor: pointer; 
}

.containerAA12 .ico3 .icoX{
    width: 100%;
    height: 100%;
    background: url(../../img/triangulo3b.svg) no-repeat;
    background-position-x:0;
}

.containerAA12 .ico3 .icoX:hover{
    background-position-x:-129px;
}

.containerAA12 .icoXAtivo .icoX{
    background-position-x:-129px;
}


.containerAA12 .step{
    position: absolute;
    width: 350px;
    top: 30px;
    left:220px;
    display: none;
}

.containerAA12 .step .titulo{
    display:flex;
    justify-items: center;
    align-items: center;
}

.containerAA12 .raio2{
    position: relative;
    width: 35px;
    height: 68px;
    background: url(../../img/raio2.svg) no-repeat;
    /* background-size: contain; */
}

.containerAA12 .celebro{
    position: relative;
    width: 53px;
    height: 53px;
    background: url(../../img/celebro2.svg) no-repeat;
}

.containerAA12 .luz{
    position: relative;
    width: 51px;
    height: 53px;
    background: url(../../img/luz2.svg) no-repeat;
}