.containerAA12 {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    /* background: url(../../img/cenario1.jpg) no-repeat center;
                background-size: cover; */
}

.containerAA12 .baseFundoX {
    /* background: url(../../img/aa3.png) no-repeat center;
        background-size: content; */
    background-color: #fff;
}


/* -------------------------------- 
            
            Main Components 
            
            -------------------------------- */

.containerAA12 .titulo {
    position: absolute;
    width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAA12 .icox {
    position: relative;
    width: 120px;
    height: 120px;
    background: url(../../img/icoExcercicio.svg) no-repeat center;
    background-size: contain;
}

.containerAA12 .txtx {
    position: relative;
    width: 1450px;
    padding: 30px;
}

.containerAA12 .lineBase {
    position: absolute;
    width: 88px;
}

.containerAA12 .lineBase div {
    position: relative;
    width: 100%;
    border: 3px solid #005aab;
}

.containerAA12 .vfBase {
    position: absolute;
    width: 1300px;
}

.containerAA12 .vfBase .ico {
    position: relative;
    background: url(../../img/icoAA16.png) no-repeat center center;
    background-size: 100%;
    width: 83px;
    height: 83px;
    z-index: 9999;
    top: 0;
    left: 0;
    float: left;
}

.containerAA12 .vfBase .tilulo div {
    padding: 10px;
}

.containerAA12 .vfContainer {
    position: relative;
    width: 100%;
    margin-top: 100px;
}

.containerAA12 .vfItem {
    width: 100%;
    /* height: 90px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.containerAA12 .iVF {
    position: relative;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAA12 .question {
    position: relative;
    width: 85%;
}

.containerAA12 .vfContainer .selec {
    position: relative;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.containerAA12 .vfContainer .selec:hover {
    background-color: #010766;
    color: #fff;
    /* border: 3px solid #936682; */
}

.containerAA12 .selecAtivo {
    background-color: #010766 !important;
    color: #fff !important;
    /* border: 3px solid #936682; */
}

.containerAA12 .positivoVF {
    background-color: #003399 !important;
    color: #fff !important;
    pointer-events: none;
    /* border: 3px solid #936682; */
}

.containerAA12 .negativoVF {
    background-color: #B5442D !important;
    color: #fff !important;
    pointer-events: none;
    /* border: 3px solid #936682; */
}

.containerAA12 .icoInativo {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    /* IE */
    opacity: 0.2;
    cursor: none;
    pointer-events: none;
}

.containerAA12 .vfContainer .v {
    /* background-color: #e88846;
    color: #fff; */
    border: 1px solid #010766;
    color: #010766;
    margin-right: 10px;
}

.containerAA12 .vfContainer .f {
    border: 1px solid #010766;
    color: #010766;
}

.containerAA12 .btnConfirmar {
    position: relative;
    width: 412px;
    height: 60px;
    display: none;
    margin-left: 75%;
    margin-top: 50px;
}

.containerAA12 .btnX {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: #010766;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.containerAA12 .btnX:hover {
    background-color: #003399;
}

.containerAA12 .btnY {
    position: relative;
    width: 50%;
    height: 100%;
    border: 1px solid #010766;
    color: #010766;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAA12 .feed {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: rgba(0, 0, 0, 0.776);
    z-index: 99999999999999999999999999999999999999999;
    display: none;
    justify-content: center;
    align-items: flex-end;
}

.containerAA12 .feedPositivo .feedBase {
    position: relative;
    width: 1770px;
    height: 870px;
    background-color: #003399;
}

.containerAA12 .feedNegativo .feedBase {
    position: relative;
    width: 1770px;
    height: 870px;
    background-color: #D9CEB4;
}

.containerAA12 .feedInt {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* margin: 200px; */
    padding: 0 210px;
}

.containerAA12 .subInfo {
    position: relative;
    margin-top: 200px;
}

.containerAA12 .feedPositivo .fecharFeed {
    position: absolute;
    background: url('../../img/btnFechar3.svg') no-repeat center;
    background-size: 100%;
    background-position: top;
    cursor: pointer;
    width: 51px;
    height: 51px;
    top: 20px;
    right: 20px;
    z-index: 9999999999999999999999999;
}

.containerAA12 .feedNegativo .fecharFeed {
    position: absolute;
    background: url('../../img/btnFechar4.svg') no-repeat center;
    background-size: 100%;
    background-position: top;
    cursor: pointer;
    width: 51px;
    height: 51px;
    top: 20px;
    right: 20px;
    z-index: 9999999999999999999999999;
}

.containerAA12 .fecharFeed:hover {
    background-position: bottom;
}