/*= AA1
	----------------------------*/

.containerAA13 {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    /* background: url(../../img/cenario1.jpg) no-repeat center;
                background-size: cover; */
}

.containerAA13 .baseFundoX {
    background: url(../../img/aa4.png) no-repeat center;
    background-size: content;
}


/* -------------------------------- 
            
            Main Components 
            
            -------------------------------- */

.containerAA13 .titulo {
    position: absolute;
    width: 1065px;
}

.containerAA13 .lineBase {
    position: absolute;
    width: 88px;
}

.containerAA13 .lineBase div {
    position: relative;
    width: 100%;
    border: 3px solid #fff;
}

.containerAA13 .listBase {
    position: absolute;
    width: 1660px;
    display: flex;
    flex-wrap: wrap;
}

.containerAA13 .item {
    position: relative;
    width: 523px;
    height: 108px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-top: 3px solid #010766;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 20px 20px 0;
    cursor: pointer;
}

.containerAA13 .feed {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: rgba(0, 0, 0, 0.776);
    z-index: 99999999999999999999999999999999999999999;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.containerAA13 .feedBase {
    position: relative;
    width: 1770px;
    height: 870px;
    background-color: #fff;
}

.containerAA13 .feedInt {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* margin: 200px; */
    padding: 0 210px;
}

.containerAA13 .fecharFeed {
    position: absolute;
    background: url('../../img/btnFechar2.svg') no-repeat center;
    background-size: 100%;
    background-position: top;
    cursor: pointer;
    width: 51px;
    height: 51px;
    top: 20px;
    right: 20px;
    z-index: 9999999999999999999999999;
}

.containerAA13 .fecharFeed:hover {
    background-position: bottom;
}

.containerAA13 .feedBase ul li {
    list-style-type: square;
    margin-left: 30px;
}

.containerAA13 .feedV ul {
    list-style: none;
    padding-left: 0;
    list-style: none !important;
    list-style-type: none !important;
}

.containerAA13 .feedV li {
    position: relative;
    padding-left: 1.5em;
    margin-left: 0px !important;
    margin-bottom: 10px;
    list-style: none !important;
    list-style-type: none !important;
    /* space to preserve indentation on wrap */
}

.containerAA13 .feedV li:before {
    content: '\2713\0020';
    /* placeholder for the SVG */
    position: absolute;
    left: 0;
    /* place the SVG at the start of the padding */
    width: 1em;
    height: 1em;
    /* background: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='utf-8'?><svg width='18' height='18' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'><path d='M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z'/></svg>") no-repeat; */
}

.containerAA13 .itemInativo {
    opacity: 0.4;
    pointer-events: none;
}