.containerAA15 {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    -webkit-font-smoothing: subpixel-antialiased;
    /* background: url(../../img/cenario1.jpg) no-repeat center;
                    background-size: cover; */
}

.containerAA15 .baseFundoX {
    /* background: url(../../img/aa6.png) no-repeat center;
        background-size: content; */
    background: #fff;
}


/* -------------------------------- 
                
                Main Components 
                
                -------------------------------- */

.containerAA15 .titulo {
    position: absolute;
    width: 1662px;
}

.containerAA15 .lineBase {
    position: absolute;
    width: 88px;
}

.containerAA15 .lineBase div {
    position: relative;
    width: 100%;
    border: 3px solid #005AAB;
}

.containerAA15 .textBase {
    position: absolute;
    width: 750px;
}

.containerAA15 ul li {
    list-style-type: square;
    margin-left: 30px;
}

.containerAA15 .baseTip {
    position: absolute;
    width: 1462px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.containerAA15 .item {
    position: relative;
    width: 358px;
    height: 264px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px #BDC8D1;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 0 20px 20px 0;
    padding-top: 30px;
}

.containerAA15 .item1 .icoX {
    position: relative;
    width: 80px;
    height: 80px;
    background: url(../../img/ico1AA15.svg) no-repeat bottom;
    background-size: contain;
    margin-bottom: 20px;
}

.containerAA15 .item2 .icoX {
    position: relative;
    width: 80px;
    height: 80px;
    background: url(../../img/ico2AA15.svg) no-repeat bottom;
    background-size: contain;
}

.containerAA15 .item3 .icoX {
    position: relative;
    width: 80px;
    height: 80px;
    background: url(../../img/ico3AA15.svg) no-repeat bottom;
    background-size: contain;
    margin-bottom: 20px;
}

.containerAA15 .item4 .icoX {
    position: relative;
    width: 80px;
    height: 80px;
    background: url(../../img/ico4AA15.svg) no-repeat bottom;
    background-size: contain;
}

.containerAA15 .item5 .icoX {
    position: relative;
    width: 80px;
    height: 80px;
    background: url(../../img/ico5AA15.svg) no-repeat bottom;
    background-size: contain;
    margin-bottom: 20px;
}

.containerAA15 .item6 .icoX {
    position: relative;
    width: 80px;
    height: 80px;
    background: url(../../img/ico6AA15.svg) no-repeat bottom;
    background-size: contain;
}

.containerAA15 .txtX {
    padding: 20px;
}