/*= AA1
	----------------------------*/

.containerAA16 {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    /* background: url(../../img/cenario1.jpg) no-repeat center;
                background-size: cover; */
}

.containerAA16 .baseFundoX {
    /* background: url(../../img/aa3.png) no-repeat center;
        background-size: content; */
    background-color: #fff;
}


/* -------------------------------- 
            
            Main Components 
            
            -------------------------------- */

.containerAA16 .titulo {
    position: absolute;
    width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAA16 .icox {
    position: relative;
    width: 120px;
    height: 120px;
    background: url(../../img/icoExcercicio.svg) no-repeat center;
    background-size: contain;
}

.containerAA16 .txtx {
    position: relative;
    width: 1450px;
    padding: 30px;
}

.containerAA16 .lineBase {
    position: absolute;
    width: 88px;
}

.containerAA16 .lineBase div {
    position: relative;
    width: 100%;
    border: 3px solid #005aab;
}

.containerAA16 .textBase {
    position: absolute;
    width: 660px;
}

.containerAA16 .baseInContainer {
    /* background: url(../../img/fundoAA1.png) no-repeat;
            background-size: 100%; */
    background-color: rgb(48, 19, 4);
}

.containerAA16 .texto {
    height: 300px;
    position: fixed;
    width: 600px;
}

.containerAA16 .content {
    position: absolute;
    width: 1450px;
}

.containerAA16 .exercicio {
    position: relative;
    width: 100%;
}

.containerAA16 .item {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.containerAA16 .textL {
    text-align: right;
    padding: 0 10px;
}

.containerAA16 .textR {
    padding: 0 10px;
}

.containerAA16 .item .itemL,
.containerAA16 .item .itemR {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 120px;
}

.containerAA16 .item .itemL {
    position: relative;
    background: #fff;
    border-top: 2px solid #03296A;
    -webkit-box-shadow: -1px -1px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: -1px -1px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: -1px -1px 5px 0px rgba(50, 50, 50, 0.75);
    width: 30%;
    cursor: pointer;
}

.containerAA16 .item .textL {
    position: relative;
    width: 300px;
    text-align: right;
}

.containerAA16 .item .itemR {
    position: relative;
    width: 75%;
    display: flex;
    justify-content: flex-end;
}

.containerAA16 .item .textR {
    position: relative;
    width: 850px;
    height: 100%;
    background-color: #005aab;
    color: #fff;
    padding: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.containerAA16 .item .numL {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 4px solid #005aab;
    background-color: #005aab;
    border-radius: 5px;
    cursor: pointer;
}

.containerAA16 .item .itemL:hover .numL {
    border-color: black;
    color: black;
}

.containerAA16 .numLAtivo {
    border-color: black !important;
    color: black !important;
}

.containerAA16 .item .numR {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 2px solid #577aac;
    border-radius: 5px;
    cursor: pointer;
}

.containerAA16 .btnConfirmar {
    position: absolute;
    width: 412px;
    height: 60px;
    display: none;
}

.containerAA16 .btnX {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: #010766;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.containerAA16 .btnY {
    position: relative;
    width: 50%;
    height: 100%;
    border: 1px solid #010766;
    color: #010766;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAA16 .btnX:hover {
    background-color: #003399;
}

.containerAA16 .feed {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: rgba(0, 0, 0, 0.776);
    z-index: 99999999999999999999999999999999999999999;
    display: none;
    justify-content: center;
    align-items: flex-end;
}

.containerAA16 .feedPositivo .feedBase {
    position: relative;
    width: 1770px;
    height: 870px;
    background-color: #003399;
}

.containerAA16 .feedNegativo .feedBase {
    position: relative;
    width: 1770px;
    height: 870px;
    background-color: #D9CEB4;
}

.containerAA16 .feedInt {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* margin: 200px; */
    padding: 0 210px;
}

.containerAA16 .subInfo {
    position: relative;
    margin-top: 200px;
}

.containerAA16 .feedPositivo .fecharFeed {
    position: absolute;
    background: url('../../img/btnFechar3.svg') no-repeat center;
    background-size: 100%;
    background-position: top;
    cursor: pointer;
    width: 51px;
    height: 51px;
    top: 20px;
    right: 20px;
    z-index: 9999999999999999999999999;
}

.containerAA16 .feedNegativo .fecharFeed {
    position: absolute;
    background: url('../../img/btnFechar4.svg') no-repeat center;
    background-size: 100%;
    background-position: top;
    cursor: pointer;
    width: 51px;
    height: 51px;
    top: 20px;
    right: 20px;
    z-index: 9999999999999999999999999;
}

.containerAA16 .fecharFeed:hover {
    background-position: bottom;
}

.containerAA16 .inativoX {
    pointer-events: none;
}