/*= AA1
	----------------------------*/

.containerAA17 {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    /* background: url(../../img/cenario1.jpg) no-repeat center;
                background-size: cover; */
}

.containerAA17 .baseFundoX {
    /* background: url(../../img/aa1.png) no-repeat center;
            background-size: content; */
    background: #fff;
}


/* -------------------------------- 
            
            Main Components 
            
            -------------------------------- */

.containerAA17 .titulo {
    position: absolute;
    width: 702px;
}

.containerAA17 .lineBase {
    position: absolute;
    width: 88px;
}

.containerAA17 .lineBase div {
    position: relative;
    width: 100%;
    border: 3px solid #063796;
}

.containerAA17 .textBase {
    position: absolute;
    width: 602px;
}

.containerAA17 .globoX {
    position: absolute;
    width: 898px;
    height: 826px;
    background: url(../../img/itemAA2.png) no-repeat center;
    background-size: contain;
}

.containerAA17 .itemX {
    position: absolute;
    width: 398px;
}

.containerAA17 .itemX .itBasx {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.containerAA17 .menuInativo {
    pointer-events: none;
    opacity: 0.3;
}

.containerAA17 .itemX .carregamento {
    position: relative;
    width: 282px;
}

.containerAA17 .itemX .imgCarregamento {
    position: relative;
    width: 282px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAA17 .itemX .titCarregamento {
    position: relative;
    height: 50px;
    /* background-color: #DA3A43; */
}

.containerAA17 .itemX .titCarregamento div {
    position: absolute;
    bottom: 0;
    right: 0;
}

.containerAA17 .itemX .titCarregamento2 {
    position: relative;
    height: 50px;
    /* background-color: #DA3A43; */
}

.containerAA17 .itemX .titCarregamento2 div {
    position: absolute;
    bottom: 0;
}

.containerAA17 .imgCarr1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../img/carregamentoRed.svg) no-repeat center;
    background-size: contain;
    display: none;
}

.containerAA17 .imgCarr2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../img/carregamentoAmarelo.svg) no-repeat center;
    background-size: contain;
    display: none;
}

.containerAA17 .imgCarr3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../img/carregamentoVerde.svg) no-repeat center;
    background-size: contain;
    display: none;
}

.containerAA17 .escudo {
    position: relative;
    width: 72px;
    height: 101px;
}

.containerAA17 .escudoX1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../img/escudo1AA2.png) no-repeat center;
    background-size: contain;
    display: none;
}

.containerAA17 .escudoX2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../img/escudo2AA2.png) no-repeat center;
    background-size: contain;
    display: none;
}

.containerAA17 .escudoX3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../img/escudo3AA2.png) no-repeat center;
    background-size: contain;
    display: none;
}

.containerAA17 .txtCarr {
    position: relative;
    z-index: 9999999;
}

.containerAA17 .status1 .imgCarr1 {
    display: block;
}

.containerAA17 .status1 .escudoX1 {
    display: block;
}

.containerAA17 .status1 .imgCarregamento {
    color: #DA3A43;
}

.containerAA17 .status2 .imgCarr2 {
    display: block;
}

.containerAA17 .status2 .escudoX2 {
    display: block;
}

.containerAA17 .status2 .imgCarregamento {
    color: #4A4A4A;
}

.containerAA17 .status3 .imgCarr3 {
    display: block;
}

.containerAA17 .status3 .escudoX3 {
    display: block;
}

.containerAA17 .status3 .imgCarregamento {
    color: #fff;
}


/* .containerAA17 .globoX {
            position: absolute;
            width: 898px;
            height: 826px;
            background: url(../../img/itemAA2.png) no-repeat center;
            background-size: content;
        } */