/*= AA1
	----------------------------*/

.containerAA22 {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    /* background: url(../../img/cenario1.jpg) no-repeat center;
                    background-size: cover; */
}

.containerAA22 .baseFundoX {
    /* background: url(../../img/aa1.png) no-repeat center;
                background-size: content; */
    background: #fff;
}


/* -------------------------------- 
                
                Main Components 
                
                -------------------------------- */

.containerAA22 .titulo {
    position: absolute;
    width: 702px;
}

.containerAA22 .lineBase {
    position: absolute;
    width: 88px;
}

.containerAA22 .lineBase div {
    position: relative;
    width: 100%;
    border: 3px solid #063796;
}

.containerAA22 .textBase {
    position: absolute;
    width: 602px;
}

.containerAA22 .globoX {
    position: absolute;
    width: 898px;
    height: 826px;
    background: url(../../img/itemAA2.png) no-repeat center;
    background-size: contain;
}

.containerAA22 .itemX {
    position: absolute;
    width: 398px;
}

.containerAA22 .itemX .itBasx {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: pointer; */
}

.containerAA22 .menuInativo {
    pointer-events: none;
    opacity: 0.3;
}

.containerAA22 .itemX .carregamento {
    position: relative;
    width: 282px;
}

.containerAA22 .itemX .imgCarregamento {
    position: relative;
    width: 282px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAA22 .itemX .titCarregamento {
    position: relative;
    height: 50px;
    /* background-color: #ea635c; */
}

.containerAA22 .itemX .titCarregamento div {
    position: absolute;
    bottom: 0;
    right: 0;
}

.containerAA22 .itemX .titCarregamento2 {
    position: relative;
    height: 50px;
    /* background-color: #ea635c; */
}

.containerAA22 .itemX .titCarregamento2 div {
    position: absolute;
    bottom: 0;
}

.containerAA22 .imgCarr1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../img/carregamentoRed.svg) no-repeat center;
    background-size: contain;
    display: none;
}

.containerAA22 .imgCarr2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../img/carregamentoAmarelo.svg) no-repeat center;
    background-size: contain;
    display: none;
}

.containerAA22 .imgCarr3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../img/carregamentoVerde.svg) no-repeat center;
    background-size: contain;
    display: none;
}

.containerAA22 .escudo {
    position: relative;
    width: 72px;
    height: 101px;
}

.containerAA22 .escudoX1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../img/escudo1AA2.png) no-repeat center;
    background-size: contain;
    display: none;
}

.containerAA22 .escudoX2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../img/escudo2AA2.png) no-repeat center;
    background-size: contain;
    display: none;
}

.containerAA22 .escudoX3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../img/escudo3AA2.png) no-repeat center;
    background-size: contain;
    display: none;
}

.containerAA22 .txtCarr {
    position: relative;
    z-index: 9999999;
}

.containerAA22 .status1 .imgCarr1 {
    display: block;
}

.containerAA22 .status1 .escudoX1 {
    display: block;
}

.containerAA22 .status1 .imgCarregamento {
    color: #ea635c;
}

.containerAA22 .status2 .imgCarr2 {
    display: block;
}

.containerAA22 .status2 .escudoX2 {
    display: block;
}

.containerAA22 .status2 .imgCarregamento {
    color: #4A4A4A;
}

.containerAA22 .status3 .imgCarr3 {
    display: block;
}

.containerAA22 .status3 .escudoX3 {
    display: block;
}

.containerAA22 .status3 .imgCarregamento {
    color: #fff;
}


/* .containerAA22 .globoX {
                position: absolute;
                width: 898px;
                height: 826px;
                background: url(../../img/itemAA2.png) no-repeat center;
                background-size: content;
            } */