/*= AA1
	----------------------------*/

.containerAA23 {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    /* background: url(../../img/cenario1.jpg) no-repeat center;
                    background-size: cover; */
}

.containerAA23 .baseFundoX {
    background: url(../../img/aa23.png) no-repeat center;
    background-size: cover;
}


/* -------------------------------- 
                
                Main Components 
                
                -------------------------------- */

.containerAA23 .titulo {
    position: absolute;
    width: 660px;
}

.containerAA23 .lineBase {
    position: absolute;
    width: 88px;
}

.containerAA23 .lineBase div {
    position: relative;
    width: 100%;
    border: 3px solid #063796;
}

.containerAA23 .textBase {
    position: absolute;
    width: 660px;
}

.containerAA23 .itemX {
    position: absolute;
    width: 398px;
}

.containerAA23 .itemX .itBasx {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAA23 .menuInativo {
    pointer-events: none;
    opacity: 0.3;
}

.containerAA23 .itemX .carregamento {
    position: relative;
    width: 282px;
}

.containerAA23 .itemX .imgCarregamento {
    position: relative;
    width: 282px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAA23 .itemX .titCarregamento {
    position: relative;
    height: 50px;
    /* background-color: #ea635c; */
}

.containerAA23 .itemX .titCarregamento div {
    position: absolute;
    bottom: 0;
    right: 0;
}

.containerAA23 .itemX .titCarregamento2 {
    position: relative;
    height: 50px;
    /* background-color: #ea635c; */
}

.containerAA23 .itemX .titCarregamento2 div {
    position: absolute;
    bottom: 0;
}

.containerAA23 .imgCarr1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../img/carregamentoRed.svg) no-repeat center;
    background-size: contain;
    display: none;
}

.containerAA23 .imgCarr2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../img/carregamentoAmarelo.svg) no-repeat center;
    background-size: contain;
    display: none;
}

.containerAA23 .imgCarr3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../img/carregamentoVerde.svg) no-repeat center;
    background-size: contain;
    display: none;
}

.containerAA23 .escudo {
    position: relative;
    width: 72px;
    height: 101px;
}

.containerAA23 .escudoX1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../img/escudo1AA2.png) no-repeat center;
    background-size: contain;
    display: none;
}

.containerAA23 .escudoX2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../img/escudo2AA2.png) no-repeat center;
    background-size: contain;
    display: none;
}

.containerAA23 .escudoX3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../img/escudo3AA2.png) no-repeat center;
    background-size: contain;
    display: none;
}

.containerAA23 .txtCarr {
    position: relative;
    z-index: 9999999;
}

.containerAA23 .status1 .imgCarr1 {
    display: block;
}

.containerAA23 .status1 .escudoX1 {
    display: block;
}

.containerAA23 .status1 .imgCarregamento {
    color: #ea635c;
}

.containerAA23 .status2 .imgCarr2 {
    display: block;
}

.containerAA23 .status2 .escudoX2 {
    display: block;
}

.containerAA23 .status2 .imgCarregamento {
    color: #4A4A4A;
}

.containerAA23 .status3 .imgCarr3 {
    display: block;
}

.containerAA23 .status3 .escudoX3 {
    display: block;
}

.containerAA23 .status3 .imgCarregamento {
    color: #fff;
}