/*= AA1
	----------------------------*/

.containerAA23 {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    /* background: url(../../img/cenario1.jpg) no-repeat center;
                        background-size: cover; */
}

.containerAA24 .baseFundoX {
    /* background: url(../../img/aa24a.png) no-repeat center;
    background-size: content; */
    background: #041d37;
}

.containerAA24 .baX1 .baseFundoXD {
    position: absolute;
    width: 1817px;
    height: 885px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 14px 14px 0px 0px;
    opacity: 1;
    background: url(../../img/aa24a.png) no-repeat center;
    background-size: content;
}

.containerAA24 .baX2 .baseFundoXD {
    position: absolute;
    width: 1817px;
    height: 885px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 14px 14px 0px 0px;
    opacity: 1;
    background: url(../../img/aa24b.png) no-repeat center;
    background-size: content;
}

.containerAA24 .baX3 .baseFundoXD {
    position: absolute;
    width: 1817px;
    height: 885px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 14px 14px 0px 0px;
    opacity: 1;
    background: url(../../img/aa24c.png) no-repeat center;
    background-size: content;
}

.containerAA24 .bloco {
    position: absolute;
    width: 1271px;
    height: 716px;
    background-color: #fff !important;
    z-index: 999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    border-top: 5px solid #000066;
}

.containerAA24 .nav {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    z-index: 9999999;
}

.containerAA24 .nleft {
    position: absolute;
    width: 110px;
    height: 20px;
    cursor: pointer;
    right: -55px;
    top: 20px;
    background: url('../../img/btnUp.png') no-repeat;
    /* background-size: 100%; */
    background-position: left;
}

.containerAA24 .nleft span {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30px;
}

.containerAA24 .nright {
    position: absolute;
    width: 110px;
    height: 20px;
    cursor: pointer;
    right: -55px;
    bottom: 20px;
    background: url('../../img/btnDown.png') no-repeat;
    /* background-size: 100%; */
    background-position: left;
}

.containerAA24 .nright span {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 30px;
}

.containerAA24 .nleft:hover,
.containerAA24 .nright:hover {
    background-position: right;
}

.containerAA24 .step {
    display: none;
}

.containerAA24 .step {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    padding: 100px;
    overflow: hidden;
}

.containerAA24 .step1 {
    /* background-color: #4A8ECC; */
}

.containerAA24 ul li {
    list-style-type: square;
    margin-left: 30px;
}