/*= AA1
	----------------------------*/

.containerAA23 {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    /* background: url(../../img/cenario1.jpg) no-repeat center;
                            background-size: cover; */
}

.containerAA26 .baseFundoX {
    background: url(../../img/aa26.png) no-repeat center;
    background-size: cover;
}

.containerAA26 .baX1 .baseFundoXD {
    position: absolute;
    width: 1817px;
    height: 885px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 14px 14px 0px 0px;
    opacity: 1;
    background: url(../../img/aa24a.png) no-repeat center;
    background-size: content;
}

.containerAA26 .baX2 .baseFundoXD {
    position: absolute;
    width: 1817px;
    height: 885px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 14px 14px 0px 0px;
    opacity: 1;
    background: url(../../img/aa24b.png) no-repeat center;
    background-size: content;
}

.containerAA26 .baX3 .baseFundoXD {
    position: absolute;
    width: 1817px;
    height: 885px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 14px 14px 0px 0px;
    opacity: 1;
    background: url(../../img/aa24c.png) no-repeat center;
    background-size: content;
}

.containerAA26 .bloco {
    position: absolute;
    width: 1300px;
    height: 600px;
    background-color: #041d37 !important;
    z-index: 999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.containerAA26 .nav {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
}

.containerAA26 .nleft {
    position: absolute;
    width: 200px;
    height: 60px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #000066 !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -100px;
    top: -60px;
}

.containerAA26 .nright {
    position: absolute;
    width: 200px;
    height: 60px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #000066 !important;
    cursor: pointer;
    right: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -60px;
}

.containerAA26 .nleft:hover,
.containerAA26 .nright:hover {
    background-color: #003399 !important;
}

.containerAA26 .step {
    display: none;
}

.containerAA26 .step {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 100px;
    overflow: hidden;
}

.containerAA26 .step1 {
    /* background-color: #4A8ECC; */
}

.containerAA26 ul li {
    list-style-type: square;
    margin-left: 30px;
}