/*= AA1
	----------------------------*/

.containerAA27 {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    /* background: url(../../img/cenario1.jpg) no-repeat center;
                        background-size: cover; */
}

.containerAA27 .baseFundoX {
    /* background: url(../../img/aa3.png) no-repeat center;
                background-size: content; */
    background-color: #fff;
}


/* -------------------------------- 
                    
                    Main Components 
                    
                    -------------------------------- */

.containerAA27 .titulo {
    position: absolute;
    width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAA27 .icox {
    position: relative;
    width: 120px;
    height: 120px;
    background: url(../../img/icoExcercicio.svg) no-repeat center;
    background-size: contain;
}

.containerAA27 .txtx {
    position: relative;
    width: 1450px;
    padding: 30px;
}

.containerAA27 .lineBase {
    position: absolute;
    width: 88px;
}

.containerAA27 .lineBase div {
    position: relative;
    width: 100%;
    border: 3px solid #005aab;
}

.containerAA27 .quiz {
    position: absolute;
    width: 1450px;
}

.containerAA27 .item {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.containerAA27 .check {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #010766;
}

.containerAA27 .item:hover .check {
    background-color: #010766;
}

.containerAA27 .itemAtivo .check {
    background-color: #010766;
}

.containerAA27 .inativoX {
    pointer-events: none;
}

.containerAA27 .txtD {
    position: relative;
    width: 1400px;
    padding: 20px;
}

.containerAA27 .btnConfirmar {
    position: absolute;
    width: 412px;
    height: 60px;
    display: none;
}

.containerAA27 .btnX {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: #010766;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.containerAA27 .btnY {
    position: relative;
    width: 50%;
    height: 100%;
    border: 1px solid #010766;
    color: #010766;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAA27 .btnX:hover {
    background-color: #003399;
}

.containerAA27 .feed {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: rgba(0, 0, 0, 0.776);
    z-index: 99999999999999999999999999999999999999999;
    display: none;
    justify-content: center;
    align-items: flex-end;
}

.containerAA27 .feedPositivo .feedBase {
    position: relative;
    width: 1770px;
    height: 870px;
    background-color: #003399;
}

.containerAA27 .feedNegativo .feedBase {
    position: relative;
    width: 1770px;
    height: 870px;
    background-color: #D9CEB4;
}

.containerAA27 .feedInt {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* margin: 200px; */
    padding: 0 210px;
}

.containerAA27 .subInfo {
    position: relative;
    margin-top: 200px;
}

.containerAA27 .feedPositivo .fecharFeed {
    position: absolute;
    background: url('../../img/btnFechar3.svg') no-repeat center;
    background-size: 100%;
    background-position: top;
    cursor: pointer;
    width: 51px;
    height: 51px;
    top: 20px;
    right: 20px;
    z-index: 9999999999999999999999999;
}

.containerAA27 .feedNegativo .fecharFeed {
    position: absolute;
    background: url('../../img/btnFechar4.svg') no-repeat center;
    background-size: 100%;
    background-position: top;
    cursor: pointer;
    width: 51px;
    height: 51px;
    top: 20px;
    right: 20px;
    z-index: 9999999999999999999999999;
}

.containerAA27 .fecharFeed:hover {
    background-position: bottom;
}