/*= AA1
	----------------------------*/

.containerAA28 {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    /* background: url(../../img/cenario1.jpg) no-repeat center;
                        background-size: cover; */
}

.containerAA28 .baseFundoX {
    /* background: url(../../img/aa1.png) no-repeat center;
                    background-size: content; */
    background: #fff;
}


/* -------------------------------- 
                    
                    Main Components 
                    
                    -------------------------------- */

.containerAA28 .titulo {
    position: absolute;
    width: 702px;
}

.containerAA28 .lineBase {
    position: absolute;
    width: 88px;
}

.containerAA28 .lineBase div {
    position: relative;
    width: 100%;
    border: 3px solid #063796;
}

.containerAA28 .textBase {
    position: absolute;
    width: 602px;
}

.containerAA28 .globoX {
    position: absolute;
    width: 898px;
    height: 826px;
    background: url(../../img/itemAA2.png) no-repeat center;
    background-size: contain;
}

.containerAA28 .itemX {
    position: absolute;
    width: 398px;
}

.containerAA28 .itemX .itBasx {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.containerAA28 .menuInativo {
    pointer-events: none;
    opacity: 0.3;
}

.containerAA28 .itemX .carregamento {
    position: relative;
    width: 282px;
}

.containerAA28 .itemX .imgCarregamento {
    position: relative;
    width: 282px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAA28 .itemX .titCarregamento {
    position: relative;
    height: 50px;
    /* background-color: #ea635c; */
}

.containerAA28 .itemX .titCarregamento div {
    position: absolute;
    bottom: 0;
    right: 0;
}

.containerAA28 .itemX .titCarregamento2 {
    position: relative;
    height: 50px;
    /* background-color: #ea635c; */
}

.containerAA28 .itemX .titCarregamento2 div {
    position: absolute;
    bottom: 0;
}

.containerAA28 .imgCarr1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../img/carregamentoRed.svg) no-repeat center;
    background-size: contain;
    display: none;
}

.containerAA28 .imgCarr2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../img/carregamentoAmarelo.svg) no-repeat center;
    background-size: contain;
    display: none;
}

.containerAA28 .imgCarr3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../img/carregamentoVerde.svg) no-repeat center;
    background-size: contain;
    display: none;
}

.containerAA28 .escudo {
    position: relative;
    width: 72px;
    height: 101px;
}

.containerAA28 .escudoX1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../img/escudo1AA2.png) no-repeat center;
    background-size: contain;
    display: none;
}

.containerAA28 .escudoX2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../img/escudo2AA2.png) no-repeat center;
    background-size: contain;
    display: none;
}

.containerAA28 .escudoX3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../img/escudo3AA2.png) no-repeat center;
    background-size: contain;
    display: none;
}

.containerAA28 .txtCarr {
    position: relative;
    z-index: 9999999;
}

.containerAA28 .status1 .imgCarr1 {
    display: block;
}

.containerAA28 .status1 .escudoX1 {
    display: block;
}

.containerAA28 .status1 .imgCarregamento {
    color: #ea635c;
}

.containerAA28 .status2 .imgCarr2 {
    display: block;
}

.containerAA28 .status2 .escudoX2 {
    display: block;
}

.containerAA28 .status2 .imgCarregamento {
    color: #4A4A4A;
}

.containerAA28 .status3 .imgCarr3 {
    display: block;
}

.containerAA28 .status3 .escudoX3 {
    display: block;
}

.containerAA28 .status3 .imgCarregamento {
    color: #fff;
}

.containerAA28 .feed {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: rgba(0, 0, 0, 0.776);
    z-index: 99999999999999999999999999999999999999999;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.containerAA28 .feedPositivo .feedBase {
    position: relative;
    width: 1770px;
    height: 870px;
    background-color: #003399;
}

.containerAA28 .feedNeutro .feedBase {
    position: relative;
    width: 1770px;
    height: 870px;
    background-color: #00BFB3;
}

.containerAA28 .feedNegativo .feedBase {
    position: relative;
    width: 1770px;
    height: 870px;
    background-color: #D9CEB4;
}

.containerAA28 .feedInt {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 0 210px;
}

.containerAA28 .feedPositivo .icoXD {
    position: relative;
    width: 300px;
    height: 500px;
    background: url(../../img/escudo1AA28.png) no-repeat center;
    background-size: contain;
}

.containerAA28 .feedNeutro .icoXD {
    position: relative;
    width: 300px;
    height: 500px;
    background: url(../../img/escudo2AA28.png) no-repeat center;
    background-size: contain;
}

.containerAA28 .feedNegativo .icoXD {
    position: relative;
    width: 300px;
    height: 500px;
    background: url(../../img/escudo3AA28.png) no-repeat center;
    background-size: contain;
}

.containerAA28 .litD {
    position: relative;
    padding: 50px;
}

.containerAA28 .subInfo {
    position: relative;
    margin-top: 200px;
}

.containerAA28 .feedPositivo .fecharFeed {
    position: absolute;
    background: url('../../img/btnFechar3.svg') no-repeat center;
    background-size: 100%;
    background-position: top;
    cursor: pointer;
    width: 51px;
    height: 51px;
    top: 20px;
    right: 20px;
    z-index: 9999999999999999999999999;
}

.containerAA28 .feedNeutro .fecharFeed {
    position: absolute;
    background: url('../../img/btnFechar3.svg') no-repeat center;
    background-size: 100%;
    background-position: top;
    cursor: pointer;
    width: 51px;
    height: 51px;
    top: 20px;
    right: 20px;
    z-index: 9999999999999999999999999;
}

.containerAA28 .feedNegativo .fecharFeed {
    position: absolute;
    background: url('../../img/btnFechar4.svg') no-repeat center;
    background-size: 100%;
    background-position: top;
    cursor: pointer;
    width: 51px;
    height: 51px;
    top: 20px;
    right: 20px;
    z-index: 9999999999999999999999999;
}

.containerAA28 .fecharFeed:hover {
    background-position: bottom;
}

.containerAA28 .btnReset {
    position: relative;
    width: 400px;
    text-align: center;
    border: 1px solid #000066;
    color: #000066;
    /* background: #000066; */
    cursor: pointer;
    padding: 15px;
}

.containerAA28 .btnReset:hover {
    background: #000066;
    color: #fff;
}