<script>
    window["aa14"] = {
        indice: "aa14",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa14").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                box: _containerTela.find('.containerGeral'),
                img_H: course.height,
                img_W: course.width,
            });

            reset();
            if (_tela.status == false) {
                _tela.status = true;

                controle();

            } else {

            }

            function reset() {
                _containerTela.find(".cardX").addClass('cardXInativo');
                _containerTela.find(".cardX1").removeClass('cardXInativo');
            }

            function controle() {

                reset();


                _containerTela.find(".cardX").on('click', function() {

                    var _item = parseInt($(this).attr("item"));
                    var _next = _item + 1;
                    var _all = _containerTela.find(".cardX").length;

                    if (!$(this).hasClass('cardXAtivo')) {
                        $(this).addClass('cardXAtivo');
                    } else {
                        $(this).removeClass('cardXAtivo');
                    }

                    _containerTela.find(".cardX" + _next).removeClass('cardXInativo');

                    if (_item == _all) {
                        course.liberarNavegacao();
                    }


                });



            }
        }
    })
</script>


<div class="containerAA14 containerAABase">

    <div class="containerGeral">

        <div class="titulo posicionar animated fadeIn" px="127" py="280">
            <div class="animated fadeInUp delay0_8 light size42 azul3">
                Não haveria sentido em ter o rigor da lei se não houvesse previsão de penalidades, certo?
            </div>
        </div>


        <div class="titulo posicionar animated fadeIn bold" px="127" py="340">
            <div class="animated fadeInUp delay1_0 size30 azul3">
                Clique nos cartões para conhecer todas elas:
            </div>
        </div>

        <div class="lineBase posicionar animated fadeIn" px="127" py="400">
            <div class="animated fadeInRight delay1_2"></div>
        </div>

        <div class="baseTip posicionar animated fadeIn  size32" px="237" py="450">

            <div class="cardX cardX1 animated zoomIn delay1_4" item=1>
                <div class="content">
                    <div class="front">
                        Advertência
                    </div>
                    <div class="back">
                        Multa de até 2% do faturamento líquido, limitada, no total, a R$50 milhões por infração.
                    </div>
                </div>
            </div>


            <div class="cardX cardX2 animated zoomIn delay1_6" item=2>
                <div class="content">
                    <div class="front">
                        Bloqueio temporário de qualquer tratamento de dados pessoais a que se refere a infração.
                    </div>
                    <div class="back">
                        Multa diária.
                    </div>
                </div>
            </div>


            <div class="cardX cardX3 animated zoomIn delay1_8" item=3>
                <div class="content">
                    <div class="front">
                        Eliminação dos dados pessoais a que se refere a infração.
                    </div>
                    <div class="back">
                        Publicização da infração após devidamente apurada e confirmada a sua ocorrência.
                    </div>
                </div>
            </div>


        </div>



    </div>

</div>