<script>
    window["aa28"] = {
        indice: "aa28",
        status: false,
        modulo: 5
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa28").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                box: _containerTela.find('.containerGeral'),
                img_H: course.height,
                img_W: course.width,
            });

            course.controleCarregamento();
            course.completeScorm();

            if (_tela.status == false) {
                _tela.status = true;

                course.controleMenu(_tela.modulo);
                controleNota();


            } else {

            }

            function controleNota() {

                var _nota = course.notaCurrent();
                _containerTela.find(".feed").css('display', 'none');

                if (_nota < 4) {
                    _containerTela.find(".feedNegativo").css('display', 'flex');
                } else if (_nota >= 4 && _nota < 7) {
                    _containerTela.find(".feedNeutro").css('display', 'flex');
                } else {
                    _containerTela.find(".feedPositivo").css('display', 'flex');
                }


                _containerTela.find(".fecharFeed").on("click", function() {

                    _containerTela.find(".feed").css('display', 'none');
                });


                _containerTela.find(".btnReset").on("click", function() {


                    course.resetSuspendata();
                    course.resetLessonLocation();

                    // for (var i = 1; i <= _allMin; i++) {
                    //     course.scorm_set_suspendData("exerc" + i, 0);
                    // }

                    course.indice = 0;
                    $("body").attr("nav", "go");
                    $("body").trigger("navegacao");


                });




            }

        }
    })
</script>


<div class="containerAA28 containerAABase">

    <div class="containerGeral">

        <div class="titulo posicionar animated fadeIn" px="118" py="260">
            <div class="animated fadeInUp delay0_8 light size65 azul3">
                Parabéns por ter concluído o curso sobre Lei Geral de Proteção de Dados Individuais.
            </div>
        </div>

        <div class="lineBase posicionar animated fadeIn" px="118" py="600">
            <div class="animated fadeInRight delay1_2"></div>
        </div>

        <div class="textBase posicionar animated fadeIn azul3" px="118" py="635">
            <div class="animated fadeInUp delay1_4 size32">
                Continue sempre atento à importante missão de manter seguros os dados de clientes, funcionários, terceiros e prestadores de serviço da Zurich.
            </div>
            <div class="mt40 bold animated fadeInUp delay1_8 size30">
                Clique em X para fechar o curso.
            </div>
        </div>

        <div class="globoX posicionar animated fadeIn delay1_4" px="873" py="218">
            <div class="animated fadeIn"></div>
        </div>

        <div class="itemX item1 posicionar status1" px="880" py="280" item="AA3">
            <div class="itBasx animated fadeIn delay2_0">
                <div class="carregamento ">
                    <div class="titCarregamento azul1 size23 right mb5">
                        <div>Conceitos</div>
                    </div>
                    <div class="imgCarregamento">
                        <div class="imgCarr1"></div>
                        <div class="imgCarr2"></div>
                        <div class="imgCarr3"></div>

                        <div class="size13 center txtCarr">
                            Nível de segurança
                        </div>
                    </div>
                </div>
                <div class="escudo ml20">
                    <div class="escudoX1"></div>
                    <div class="escudoX2"></div>
                    <div class="escudoX3"></div>
                </div>
            </div>
        </div>


        <div class="itemX item2 posicionar status1" px="795" py="450" item="AA9">
            <div class="itBasx animated fadeIn delay2_2">
                <div class="carregamento ">
                    <div class="titCarregamento azul1 size23 right mb5">
                        <div>Aplicação da lei</div>
                    </div>
                    <div class="imgCarregamento">
                        <div class="imgCarr1"></div>
                        <div class="imgCarr2"></div>
                        <div class="imgCarr3"></div>

                        <div class="size13 center txtCarr">
                            Nível de segurança
                        </div>
                    </div>
                </div>
                <div class="escudo ml20">
                    <div class="escudoX1"></div>
                    <div class="escudoX2"></div>
                    <div class="escudoX3"></div>
                </div>
            </div>
        </div>

        <div class="itemX item3 posicionar status1" px="1380" py="280" item="AA18">
            <div class="itBasx animated fadeIn delay2_4">
                <div class="escudo mr20">
                    <div class="escudoX1"></div>
                    <div class="escudoX2"></div>
                    <div class="escudoX3"></div>
                </div>
                <div class="carregamento ">
                    <div class="titCarregamento azul1 size23 mb5">
                        <div>Política de proteção de dados da Zurich</div>
                    </div>
                    <div class="imgCarregamento">
                        <div class="imgCarr1"></div>
                        <div class="imgCarr2"></div>
                        <div class="imgCarr3"></div>

                        <div class="size13 center txtCarr">
                            Nível de segurança
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="itemX item4 posicionar status1" px="1470" py="450" item="AA23">
            <div class="itBasx animated fadeIn delay2_6">
                <div class="escudo mr20">
                    <div class="escudoX1"></div>
                    <div class="escudoX2"></div>
                    <div class="escudoX3"></div>
                </div>
                <div class="carregamento ">
                    <div class="titCarregamento2 azul1 size23 mb5">
                        <div>Desdobramentos</div>
                    </div>
                    <div class="imgCarregamento">
                        <div class="imgCarr1"></div>
                        <div class="imgCarr2"></div>
                        <div class="imgCarr3"></div>

                        <div class="size13 center txtCarr">
                            Nível de segurança
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="feed feedPositivo posicionar animated fadeIn azul1" px="0" py="0">

            <div class="feedBase animated fadeInUp delay0_6 branco">
                <div class="fecharFeed"></div>

                <div class="feedInt ">
                    <div class="icoXD"></div>
                    <div class="litD">
                        <div class="tiX size70 light">
                            Parabéns!
                        </div>
                        <div class="size35 mt20">
                            Você teve <span class="numberCurrent">01</span> acertos de <span class="numberAll">08</span> e está preparado para manter os dados de nossos clientes completamente seguros.
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="feed feedNeutro posicionar animated fadeIn azul1" px="0" py="0">

            <div class="feedBase animated fadeInUp delay0_6 branco">
                <div class="fecharFeed"></div>

                <div class="feedInt ">
                    <div class="icoXD"></div>
                    <div class="litD">
                        <div class="tiX size70 light">
                            Você poderia ter ido melhor!
                        </div>
                        <div class="size35 mt20">
                            Você teve <span class="numberCurrent">01</span> acertos de <span class="numberAll">08</span>, isso significa que você teve um bom desempenho, mas ainda pode se preparar mais.
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="feed feedNegativo posicionar animated fadeIn azul1" px="0" py="0">

            <div class="feedBase animated fadeInUp delay0_6 azul1">
                <div class="fecharFeed"></div>

                <div class="feedInt ">
                    <div class="icoXD"></div>
                    <div class="litD">
                        <div class="tiX size70 light">
                            Não foi dessa vez!
                        </div>
                        <div class="size35 mt20">
                            Você teve <span class="numberCurrent">01</span> acertos de <span class="numberAll">08</span>, relembre com atenção os detalhes relativos à aplicação da LGPD e lembre-se: não fazemos pela lei, mas sim pelos clientes.
                        </div>
                        <div class="btnReset mt40 size34 light">
                            Tente outra vez…
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>