<script>
    // $(".telaBase .posicionar").positionCSS({
    //     box: $('.containerGeral'),
    //     img_H: course.height,
    //     img_W: course.width
    // });

</script>

<div class="telaBase">
    <div class="containerGeral">
        <!-- <div class="predio posicionar" px="471" py="112"></div> -->
        <!-- <div class="passaro2 posicionar" px="0" py="-20"></div> -->
    </div>
    <!-- <div class="btnClose posicionar " px="1050" py="69" ></div> -->
</div>



<div class="retormar">
    <div id="v5_lightbox" class="v5_lightbox_motion animated fadeIn">
        <div class="bcg"></div>
        <div class="containerModal">
            <div class="modalIframe sairModal">
                <div class='tituloSair'> Atenção </div>
                <div class='subtituloSair'> Você quer retornar de onde parou? </div>
                <div class="btnsSair">
                    <div class='simSair'> Sim </div>
                    <div class='naoSair'> Não </div>
                </div>
            </div>
        </div>
    </div>
</div>