<script>
    window["aa1"] = {
        indice: "aa1",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa1").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                box: _containerTela.find('.containerGeral'),
                img_H: course.height,
                img_W: course.width,
            });


            if (_tela.status == false) {
                _tela.status = true;



            } else {

            }
        }
    })
</script>


<div class="containerAA1 containerAABase">

    <div class="containerGeral">

        <div class="titulo posicionar animated fadeIn" px="127" py="280">
            <div class="animated fadeInUp delay0_8 light size65 azul3">
                Bem-vindo à sua mais nova capacitação a respeito da Lei de Proteção de Dados individuais.
            </div>
        </div>

        <div class="lineBase posicionar animated fadeIn" px="127" py="530">
            <div class="animated fadeInRight delay1_2"></div>
        </div>

        <div class="textBase posicionar animated fadeIn" px="127" py="580">
            <div class="animated fadeInUp delay1_4 size32 azul3">
                Na Zurich, todos nós nos preocupamos com a segurança de nossos clientes. Isso significa também garantir a proteção de seus dados pessoais durante a prestação de nossos serviços. Isso é essencial para uma relação de confiança.
            </div>
        </div>

    </div>

</div>