<script>
    window["aa23"] = {
        indice: "aa23",
        status: false,
        exerc: 1
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa23").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            controleQuizScorm();
            if (_tela.status == false) {
                _tela.status = true;

                //posiciona o elemento com base no tamanho real da imagem de fundo COVER
                _containerTela.find(".posicionar").positionCSS({
                    box: _containerTela.find('.containerGeral'),
                    img_H: course.height,
                    img_W: course.width
                });

                controleQuiz();


            } else {

            }
            function controleQuizScorm() {

               if (course.scorm_get_suspendData('exerc' + _tela.exerc)) {
                  
                    var _exerc = parseInt(course.scorm_get_suspendData('exerc' + _tela.exerc));
                    _containerTela.find(".al").addClass('alInativo');

                    _containerTela.find(".al").each(function(indice, item) {

                        if ($(item).attr('correto') == 1) {
                            $(item).find('.icos').css('display', 'block');
                            $(item).find('.icoPos').css('display', 'flex');
                        } else {
                            if ($(item).attr('correto') == _exerc) {
                                $(item).find('.icos').css('display', 'block');
                                $(item).find('.icoNeg').css('display', 'flex');
                                $(item).addClass('alNegativo');
                            }
                        }

                        if ($(item).attr('correto') == _exerc) {
                            $(item).addClass('alAtivo');
                        }

                    });

                    setTimeout(function() {
                        course.liberarNavegacao();
                    }, 1000 * 2);

                }else{
                    
                    _containerTela.find(".al").removeClass('alInativo');
                    _containerTela.find(".al").removeClass('alAtivo');
                    _containerTela.find(".al").removeClass('alNegativo');
                    
                    _containerTela.find('.icos').css('display', 'none');
                    _containerTela.find('.icoPos').css('display', 'none');
                    _containerTela.find('.icoNeg').css('display', 'none');
                    
                }
            }

            function controleQuiz() {
                // _containerTela.find(".feed").css('display', 'block');
                // _containerTela.find(".feed2").css('display', 'flex');

                _containerTela.find(".responder").css('display', 'none');
                _containerTela.find(".al").each(function() {
                    if ($(this).attr('correto') == 1)
                        $(this).addClass('corretoRespost');
                })

                _containerTela.find(".al").on('click', function() {

                    _containerTela.find(".responder").css('display', 'block');
                    _containerTela.find(".al").removeClass('alAtivo');
                    $(this).addClass('alAtivo');

                });

                _containerTela.find(".responder").on('click', function() {

                    _containerTela.find(".responder").css('display', 'none');

                    var correto = _containerTela.find(".alAtivo").attr('correto');
                    _containerTela.find(".al").addClass('alInativo');

                    course.scorm_set_suspendData('exerc' + _tela.exerc, correto);

                    if (correto == 1) {
                        _containerTela.find(".alAtivo .icos").css('display', 'block');
                        _containerTela.find(".alAtivo .icoPos").css('display', 'flex');

                        _containerTela.find(".feed").css('display', 'block');
                        _containerTela.find(".feed1").css('display', 'flex');

                        if(course.scorm_get_suspendData('total')){
                          var _total = parseInt(course.scorm_get_suspendData('total')) + 1;
                          course.scorm_set_suspendData('total', _total )

                        }else{
                           course.scorm_set_suspendData('total', 1);
                        }
                       

                    } else {
                        _containerTela.find(".alAtivo .icos").css('display', 'block');
                        _containerTela.find(".alAtivo .icoNeg").css('display', 'flex');
                        _containerTela.find(".alAtivo").addClass('alNegativo');

                        _containerTela.find(".corretoRespost .icos").css('display', 'block');
                        _containerTela.find(".corretoRespost .icoPos").css('display', 'flex');

                        _containerTela.find(".feed").css('display', 'block');

                        if (correto == 2) {
                            _containerTela.find(".feed2").css('display', 'flex');
                        } else {
                            _containerTela.find(".feed3").css('display', 'flex');
                        }

                    }

                    if(course.scorm_get_suspendData('total')){
                        var _total = parseInt(course.scorm_get_suspendData('total'));
                        _containerTela.find(".pontuacao").text( _total );

                    }else{
                        _containerTela.find(".pontuacao").text( 0 );
                    }

                });

                _containerTela.find(".continuar").on('click', function() {
                    _containerTela.find(".feed").css('display', 'none');
                    course.liberarNavegacao();
                });
            }



        }


    })
</script>


<div class="containerAA23 containerAABase">
    <div class="containerGeral">

        <div class="content posicionar animated fadeIn delay0_4 branco size24" px="180" py="140">
            <div class="item animated fadeInRight delay0_6">
                <div class="ico"></div>
                <!-- <div class="text">
                        Colocando<br> em prática
                    </div> -->
            </div>
            <div class="sub animated fadeInRight delay0_8">
                <div class="azul2">
                    Foi descoberto que um colaborador usava computadores de outros funcionários 
                    para roubar dados de clientes, possivelmente para vendê-los a terceiros. 
                    O que você faria nesse caso?
                </div>
            </div>
        </div>


        <div class="quiz posicionar animated fadeIn delay0_2" px="150" py="275">


            <div class="al al1 animated fadeInUp delay0_6" correto=1>
                <div class="letra xbold">
                    <div class="Linit"></div>
                </div>
                <div class="text">
                    Informaria à Zurich Ethics Line (ZEL).
                </div>
                <div class="icos animated fadeInUp delay0_6">
                    <div class="icoNeg">
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="icoPos">
                        <i class="fas fa-check"></i>
                    </div>
                </div>
            </div>

            <div class="al al2 animated fadeInUp delay0_8" correto=2>
                <div class="letra xbold">
                    <div class="Linit"></div>
                </div>
                <div class="text">
                    Preencheria e enviaria o Formulário de Denúncia a Fraudes Externas.
                </div>
                <div class="icos animated fadeInUp delay0_6">
                    <div class="icoNeg">
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="icoPos">
                        <i class="fas fa-check"></i>
                    </div>
                </div>
            </div>

            <div class="al al3 animated fadeInUp delay1_0" correto=3>
                <div class="letra xbold">
                    <div class="Linit"></div>
                </div>
                <div class="text">
                    Tentaria descobrir se ele realmente estava vendendo as informações.
                </div>
                <div class="icos animated fadeInUp delay0_6">
                    <div class="icoNeg">
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="icoPos">
                        <i class="fas fa-check"></i>
                    </div>
                </div>
            </div>



            <div class="responder center animated fadeIn">
                Confirmar
            </div>

        </div>


        <div class="feed posicionar animated fadeIn" px="134" py="120">

            <div class="feedBase feedPositivo feed1">

                <div class="infX">
                    <div class="inf size33 animated fadeInRight delay0_6">
                        <div class="xbold size50">Parabéns!</div>
                        <div class="mt20">
                            O correto é denunciar as fraudes internas à Zurich Ethics Line (ZEL).
                        </div>
                        <div class="mt20 xbold">
                            Sua pontuação é: 
                            <span class="size40 pontBloco azul1">
                                <span class="xbold azul1 pontuacao">X</span> de 
                                <span class="xbold azul1 totalEx">5</span>
                            </span>
                        </div>
                    </div>
                    <div class="icoPositivo animated zoomIn delay1_0"></div>
                </div>

                <div class="continuar xbold animated fadeInUp delay1_2">
                    Continuar
                </div>

            </div>


            <div class="feedBase feedNegativo feed2">

                <div class="infX">
                    <div class="inf size33 animated fadeInRight delay0_6">
                        <div class="xbold size50">Não foi<br> desta vez!</div>
                        <div class="mt20">
                            Por se tratar de fraude interna, deve ser denunciada à Zurich Ethics Line (ZEL).
                        </div>
                        <div class="mt20 xbold">
                            Sua pontuação é: 
                            <span class="size40 pontBloco azul1">
                                <span class="xbold azul1 pontuacao">X</span> de 
                                <span class="xbold azul1 totalEx">5</span>
                            </span>
                        </div>
                    </div>
                    <div class="icoNegativo animated zoomIn delay1_0"></div>
                </div>

                <div class="continuar xbold animated fadeInUp delay1_2">
                    Continuar
                </div>


            </div>

            <div class="feedBase feedNegativo feed3">

                <div class="infX">
                    <div class="inf size33 animated fadeInRight delay0_6">
                        <div class="xbold size50">Não foi<br> desta vez!</div>
                        <div class="mt20">
                            O correto é denunciar a fraude interna diretamente à Zurich Ethics Line (ZEL).
                        </div>
                        <div class="mt20 xbold">
                            Sua pontuação é: 
                            <span class="size40 pontBloco azul1">
                                <span class="xbold azul1 pontuacao">X</span> de 
                                <span class="xbold azul1 totalEx">5</span>
                            </span>
                        </div>
                    </div>
                    <div class="icoNegativo animated zoomIn delay1_0"></div>
                </div>

                <div class="continuar xbold animated fadeInUp delay1_2">
                    Continuar
                </div>


            </div>

        </div>


    </div>


</div>