<script>
    window["aa18"] = {
        indice: "aa18",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa18").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                box: _containerTela.find('.containerGeral'),
                img_H: course.height,
                img_W: course.width,
            });

            var _modulo = 3;
            _containerTela.find(".itemX").addClass('item' + _modulo);
            course.controleCarregamento();

            if (_tela.status == false) {
                _tela.status = true;



            } else {

            }
        }
    })
</script>


<div class="containerAA18 containerAABase">

    <div class="containerGeral">

        <div class="titulo posicionar animated fadeIn" px="127" py="330">
            <div class="animated fadeInUp delay0_8 light size65 azul3">
                Capítulo 3 - Política de proteção de dados <br>da Zurich
            </div>
        </div>

        <div class="lineBase posicionar animated fadeIn" px="127" py="570">
            <div class="animated fadeInRight delay1_2"></div>
        </div>

        <div class="textBase posicionar animated fadeIn" px="127" py="600">
            <div class="animated fadeInUp delay1_4 size28 azul3">
                Agora que você já conhecem bem a proteção de dados e a nova LGPD, vamos entender melhor como ela funcionará dentro da Zurich. Essa talvez seja o escudo mais importante.
                <br><br> Fique atento e vamos lá!
            </div>
        </div>


        <div class="itemX posicionar status1" px="127" py="910">
            <div class="itBasx animated fadeIn delay2_6">
                <div class="escudo mr20">
                    <div class="escudoX1"></div>
                    <div class="escudoX2"></div>
                    <div class="escudoX3"></div>
                </div>
                <div class="carregamento ">
                    <div class="imgCarregamento">
                        <div class="imgCarr1"></div>
                        <div class="imgCarr2"></div>
                        <div class="imgCarr3"></div>

                        <div class="size13 center txtCarr">
                            Nível de segurança
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>