<div class="customBase">

    <div class="logoBase posicionar animated fadeIn delay0_2" px="50" py="96"></div>

    <div class="btnHelp posicionar animated fadeIn delay0_2" px="1749" py="96"></div>
    <div class="btnClose posicionar animated fadeIn delay0_2" px="1814" py="96"></div>

    <div class="baseFundoX posicionar animated fadeIn delay0_4 branco" px="52" py="195"></div>
    <div class="lineX posicionar animated fadeIn delay0_4 branco" px="257" py="192"></div>

    <div class="navInit nav1 animated fadeIn delay0_2">
        <div class="setaEsqBase btnPrev posicionar" px="65" py="570">
            <div class="icoSet animated fadeIn"></div>
        </div>

        <div class="setaDirBase btnNext posicionar" px="1830" py="570">
            <div class="icoSet animated fadeIn"></div>
        </div>
    </div>

    <div class="helpBase animated fadeIn">
        <!-- <div class="fundoHelp posicionar" px="0" py="40" ></div> -->

        <div class="btnHelpH posicionar" px="1749" py="96"></div>
        <div class="explAjuda posicionar animated fadeIn delay0_8" px="1070" py="200"></div>

        <div class="btnCloseH posicionar" px="1820" py="96"></div>
        <div class="explSair posicionar animated fadeIn delay1_0" px="1180" py="200"></div>

        <div class="btnPrevH posicionar" px="65" py="570"></div>
        <div class="explAnterior posicionar animated fadeIn delay1_2" px="50" py="680"></div>

        <div class="btnNextH posicionar" px="1830" py="570"></div>
        <div class="explProximo posicionar animated fadeIn delay0_8" px="1250" py="680"></div>



        <div class="btnCloseHelpBase posicionar" px="750" py="980">
            <div class="btnCloseHelp animated infinite pulse bold">
                Sair da ajuda
            </div>
        </div>

    </div>

</div>