<div class="customBase">
		
        <div class="logoBase posicionar animated fadeIn delay0_2" px="20" py="30"></div>
        
        <div class="btnHelp posicionar animated fadeIn delay0_2" px="1252" py="59" ></div>
        <div class="btnClose posicionar animated fadeIn delay0_2" px="1300" py="59" ></div>

        <div class="navInit nav1 animated fadeIn delay0_2">
            <div class="setaEsqBase btnPrev posicionar" px="10" py="345" >
                <div class="icoSet animated fadeIn"></div>	
            </div>

            <div class="setaDirBase btnNext posicionar" px="1300" py="345" >
                <div class="icoSet animated fadeIn"></div>	
            </div>
        </div>   
        
        <div class="helpBase animated fadeIn">
            <!-- <div class="fundoHelp posicionar" px="0" py="40" ></div> -->
            
            <div class="btnHelpH posicionar" px="1252" py="59" ></div>
            <div class="explAjuda posicionar animated fadeIn delay1_2" px="910" py="110" ></div>
            
            <div class="btnCloseH posicionar" px="1300" py="59" ></div>
            <div class="explSair posicionar animated fadeIn delay1_6" px="980" py="100" ></div>
    
            <div class="btnPrevH posicionar" px="10" py="345" ></div>
            <div class="explAnterior posicionar animated fadeIn delay0_4" px="19" py="420" ></div>
    
            <div class="btnNextH posicionar" px="1300" py="345" ></div>
            <div class="explProximo posicionar animated fadeIn delay0_8" px="1041" py="420" ></div>
    

    
            <div class="btnCloseHelpBase posicionar" px="590" py="640" >
                <div class="btnCloseHelp animated infinite pulse">
                        SAIR DA AJUDA
                </div>
            </div>
    
        </div>
	
</div> 