/*===========================
  CENTER
============================*/

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.up {
    text-transform: uppercase;
}


/*===========================
  TAMANHO
============================*/

.size8 {
    font-size: 8px !important;
    line-height: normal;
}

.size9 {
    font-size: 9px !important;
    line-height: normal;
}

.size10 {
    font-size: 10px !important;
    line-height: normal;
}

.size11 {
    font-size: 11px !important;
    line-height: normal;
}

.size12 {
    font-size: 12px !important;
    line-height: normal;
}

.size13 {
    font-size: 13px !important;
    line-height: normal;
}

.size14 {
    font-size: 14px !important;
    line-height: normal;
}

.size15 {
    font-size: 15px !important;
    line-height: normal;
}

.size16 {
    font-size: 16px !important;
    line-height: normal;
}

.size17 {
    font-size: 17px !important;
    line-height: normal;
}

.size18 {
    font-size: 18px !important;
    line-height: normal;
}

.size19 {
    font-size: 19px !important;
    line-height: normal;
}

.size20 {
    font-size: 20px !important;
    line-height: normal;
}

.size21 {
    font-size: 21px !important;
    line-height: normal;
}

.size22 {
    font-size: 22px !important;
    line-height: normal;
}

.size23 {
    font-size: 23px !important;
    line-height: normal;
}

.size24 {
    font-size: 24px !important;
    line-height: normal;
}

.size25 {
    font-size: 25px !important;
    line-height: normal;
}

.size26 {
    font-size: 26px !important;
    line-height: normal;
}

.size27 {
    font-size: 27px !important;
    line-height: normal;
}

.size28 {
    font-size: 28px !important;
    line-height: normal;
}

.size29 {
    font-size: 29px !important;
    line-height: normal;
}

.size30 {
    font-size: 30px !important;
    line-height: normal;
}

.size31 {
    font-size: 31px !important;
    line-height: normal;
}

.size32 {
    font-size: 32px !important;
    line-height: normal;
}

.size33 {
    font-size: 33px !important;
    line-height: normal;
}

.size34 {
    font-size: 34px !important;
    line-height: normal;
}

.size35 {
    font-size: 35px !important;
    line-height: normal;
}

.size36 {
    font-size: 36px !important;
    line-height: normal;
}

.size37 {
    font-size: 37px !important;
    line-height: normal;
}

.size38 {
    font-size: 38px !important;
    line-height: normal;
}

.size39 {
    font-size: 39px !important;
    line-height: normal;
}

.size40 {
    font-size: 40px !important;
    line-height: normal;
}

.size41 {
    font-size: 41px !important;
    line-height: normal;
}

.size42 {
    font-size: 42px !important;
    line-height: normal;
}

.size43 {
    font-size: 43px !important;
    line-height: normal;
}

.size44 {
    font-size: 44px !important;
    line-height: normal;
}

.size45 {
    font-size: 45px !important;
    line-height: normal;
}

.size46 {
    font-size: 46px !important;
    line-height: normal;
}

.size47 {
    font-size: 47px !important;
    line-height: normal;
}

.size48 {
    font-size: 48px !important;
    line-height: normal;
}

.size49 {
    font-size: 49px !important;
    line-height: normal;
}

.size50 {
    font-size: 50px !important;
    line-height: normal;
}

.size55 {
    font-size: 55px !important;
    line-height: normal;
}

.size60 {
    font-size: 60px !important;
    line-height: normal;
}

.size65 {
    font-size: 65px !important;
    line-height: normal;
}

.size70 {
    font-size: 70px !important;
    line-height: normal;
}

.size75 {
    font-size: 75px !important;
    line-height: normal;
}

.size80 {
    font-size: 80px !important;
    line-height: normal;
}

.size85 {
    font-size: 85px !important;
    line-height: normal;
}

.size90 {
    font-size: 90px !important;
    line-height: normal;
}

.size95 {
    font-size: 95px !important;
    line-height: normal;
}

.size100 {
    font-size: 100px !important;
    line-height: normal;
}


/* PADDING TOP */

.pt1 {
    padding-top: 1px;
}

.pt2 {
    padding-top: 2px;
}

.pt3 {
    padding-top: 3px;
}

.pt4 {
    padding-top: 4px;
}

.pt5 {
    padding-top: 5px;
}

.pt6 {
    padding-top: 6px;
}

.pt7 {
    padding-top: 7px;
}

.pt8 {
    padding-top: 8px;
}

.pt9 {
    padding-top: 9px;
}

.pt10 {
    padding-top: 10px;
}

.pt11 {
    padding-top: 11px;
}

.pt12 {
    padding-top: 12px;
}

.pt13 {
    padding-top: 13px;
}

.pt14 {
    padding-top: 14px;
}

.pt15 {
    padding-top: 15px;
}

.pt16 {
    padding-top: 16px;
}

.pt17 {
    padding-top: 17px;
}

.pt18 {
    padding-top: 18px;
}

.pt19 {
    padding-top: 19px;
}

.pt20 {
    padding-top: 20px;
}

.pt21 {
    padding-top: 21px;
}

.pt22 {
    padding-top: 22px;
}

.pt23 {
    padding-top: 23px;
}

.pt24 {
    padding-top: 24px;
}

.pt25 {
    padding-top: 25px;
}

.pt26 {
    padding-top: 26px;
}

.pt27 {
    padding-top: 27px;
}

.pt28 {
    padding-top: 28px;
}

.pt29 {
    padding-top: 29px;
}

.pt30 {
    padding-top: 30px;
}

.pt31 {
    padding-top: 31px;
}

.pt32 {
    padding-top: 32px;
}

.pt33 {
    padding-top: 33px;
}

.pt34 {
    padding-top: 34px;
}

.pt35 {
    padding-top: 35px;
}

.pt36 {
    padding-top: 36px;
}

.pt37 {
    padding-top: 37px;
}

.pt38 {
    padding-top: 38px;
}

.pt39 {
    padding-top: 39px;
}

.pt40 {
    padding-top: 40px;
}

.pt41 {
    padding-top: 41px;
}

.pt42 {
    padding-top: 42px;
}

.pt43 {
    padding-top: 43px;
}

.pt44 {
    padding-top: 44px;
}

.pt45 {
    padding-top: 45px;
}

.pt46 {
    padding-top: 46px;
}

.pt47 {
    padding-top: 47px;
}

.pt48 {
    padding-top: 48px;
}

.pt49 {
    padding-top: 49px;
}

.pt50 {
    padding-top: 50px;
}


/* PADDING BOTTOM */

.pb1 {
    padding-bottom: 1px;
}

.pb2 {
    padding-bottom: 2px;
}

.pb3 {
    padding-bottom: 3px;
}

.pb4 {
    padding-bottom: 4px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb6 {
    padding-bottom: 6px;
}

.pb7 {
    padding-bottom: 7px;
}

.pb8 {
    padding-bottom: 8px;
}

.pb9 {
    padding-bottom: 9px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb11 {
    padding-bottom: 11px;
}

.pb12 {
    padding-bottom: 12px;
}

.pb13 {
    padding-bottom: 13px;
}

.pb14 {
    padding-bottom: 14px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb16 {
    padding-bottom: 16px;
}

.pb17 {
    padding-bottom: 17px;
}

.pb18 {
    padding-bottom: 18px;
}

.pb19 {
    padding-bottom: 19px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb21 {
    padding-bottom: 21px;
}

.pb22 {
    padding-bottom: 22px;
}

.pb23 {
    padding-bottom: 23px;
}

.pb24 {
    padding-bottom: 24px;
}

.pb25 {
    padding-bottom: 25px;
}

.pb26 {
    padding-bottom: 26px;
}

.pb27 {
    padding-bottom: 27px;
}

.pb28 {
    padding-bottom: 28px;
}

.pb29 {
    padding-bottom: 29px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb31 {
    padding-bottom: 31px;
}

.pb32 {
    padding-bottom: 32px;
}

.pb33 {
    padding-bottom: 33px;
}

.pb34 {
    padding-bottom: 34px;
}

.pb35 {
    padding-bottom: 35px;
}

.pb36 {
    padding-bottom: 36px;
}

.pb37 {
    padding-bottom: 37px;
}

.pb38 {
    padding-bottom: 38px;
}

.pb39 {
    padding-bottom: 39px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb41 {
    padding-bottom: 41px;
}

.pb42 {
    padding-bottom: 42px;
}

.pb43 {
    padding-bottom: 43px;
}

.pb44 {
    padding-bottom: 44px;
}

.pb45 {
    padding-bottom: 45px;
}

.pb46 {
    padding-bottom: 46px;
}

.pb47 {
    padding-bottom: 47px;
}

.pb48 {
    padding-bottom: 48px;
}

.pb49 {
    padding-bottom: 49px;
}

.pb50 {
    padding-bottom: 50px;
}


/* PADDING LEFT */

.pl1 {
    padding-left: 1px;
}

.pl2 {
    padding-left: 2px;
}

.pl3 {
    padding-left: 3px;
}

.pl4 {
    padding-left: 4px;
}

.pl5 {
    padding-left: 5px;
}

.pl6 {
    padding-left: 6px;
}

.pl7 {
    padding-left: 7px;
}

.pl8 {
    padding-left: 8px;
}

.pl9 {
    padding-left: 9px;
}

.pl10 {
    padding-left: 10px;
}

.pl11 {
    padding-left: 11px;
}

.pl12 {
    padding-left: 12px;
}

.pl13 {
    padding-left: 13px;
}

.pl14 {
    padding-left: 14px;
}

.pl15 {
    padding-left: 15px;
}

.pl16 {
    padding-left: 16px;
}

.pl17 {
    padding-left: 17px;
}

.pl18 {
    padding-left: 18px;
}

.pl19 {
    padding-left: 19px;
}

.pl20 {
    padding-left: 20px;
}

.pl21 {
    padding-left: 21px;
}

.pl22 {
    padding-left: 22px;
}

.pl23 {
    padding-left: 23px;
}

.pl24 {
    padding-left: 24px;
}

.pl25 {
    padding-left: 25px;
}

.pl26 {
    padding-left: 26px;
}

.pl27 {
    padding-left: 27px;
}

.pl28 {
    padding-left: 28px;
}

.pl29 {
    padding-left: 29px;
}

.pl30 {
    padding-left: 30px;
}

.pl31 {
    padding-left: 31px;
}

.pl32 {
    padding-left: 32px;
}

.pl33 {
    padding-left: 33px;
}

.pl34 {
    padding-left: 34px;
}

.pl35 {
    padding-left: 35px;
}

.pl36 {
    padding-left: 36px;
}

.pl37 {
    padding-left: 37px;
}

.pl38 {
    padding-left: 38px;
}

.pl39 {
    padding-left: 39px;
}

.pl40 {
    padding-left: 40px;
}

.pl41 {
    padding-left: 41px;
}

.pl42 {
    padding-left: 42px;
}

.pl43 {
    padding-left: 43px;
}

.pl44 {
    padding-left: 44px;
}

.pl45 {
    padding-left: 45px;
}

.pl46 {
    padding-left: 46px;
}

.pl47 {
    padding-left: 47px;
}

.pl48 {
    padding-left: 48px;
}

.pl49 {
    padding-left: 49px;
}

.pl50 {
    padding-left: 50px;
}


/* PADDING RIGHT */

.pr1 {
    padding-right: 1px;
}

.pr2 {
    padding-right: 2px;
}

.pr3 {
    padding-right: 3px;
}

.pr4 {
    padding-right: 4px;
}

.pr5 {
    padding-right: 5px;
}

.pr6 {
    padding-right: 6px;
}

.pr7 {
    padding-right: 7px;
}

.pr8 {
    padding-right: 8px;
}

.pr9 {
    padding-right: 9px;
}

.pr10 {
    padding-right: 10px;
}

.pr11 {
    padding-right: 11px;
}

.pr12 {
    padding-right: 12px;
}

.pr13 {
    padding-right: 13px;
}

.pr14 {
    padding-right: 14px;
}

.pr15 {
    padding-right: 15px;
}

.pr16 {
    padding-right: 16px;
}

.pr17 {
    padding-right: 17px;
}

.pr18 {
    padding-right: 18px;
}

.pr19 {
    padding-right: 19px;
}

.pr20 {
    padding-right: 20px;
}

.pr21 {
    padding-right: 21px;
}

.pr22 {
    padding-right: 22px;
}

.pr23 {
    padding-right: 23px;
}

.pr24 {
    padding-right: 24px;
}

.pr25 {
    padding-right: 25px;
}

.pr26 {
    padding-right: 26px;
}

.pr27 {
    padding-right: 27px;
}

.pr28 {
    padding-right: 28px;
}

.pr29 {
    padding-right: 29px;
}

.pr30 {
    padding-right: 30px;
}

.pr31 {
    padding-right: 31px;
}

.pr32 {
    padding-right: 32px;
}

.pr33 {
    padding-right: 33px;
}

.pr34 {
    padding-right: 34px;
}

.pr35 {
    padding-right: 35px;
}

.pr36 {
    padding-right: 36px;
}

.pr37 {
    padding-right: 37px;
}

.pr38 {
    padding-right: 38px;
}

.pr39 {
    padding-right: 39px;
}

.pr40 {
    padding-right: 40px;
}

.pr41 {
    padding-right: 41px;
}

.pr42 {
    padding-right: 42px;
}

.pr43 {
    padding-right: 43px;
}

.pr44 {
    padding-right: 44px;
}

.pr45 {
    padding-right: 45px;
}

.pr46 {
    padding-right: 46px;
}

.pr47 {
    padding-right: 47px;
}

.pr48 {
    padding-right: 48px;
}

.pr49 {
    padding-right: 49px;
}

.pr50 {
    padding-right: 50px;
}


/* margin TOP */

.mt1 {
    margin-top: 1px;
}

.mt2 {
    margin-top: 2px;
}

.mt3 {
    margin-top: 3px;
}

.mt4 {
    margin-top: 4px;
}

.mt5 {
    margin-top: 5px;
}

.mt6 {
    margin-top: 6px;
}

.mt7 {
    margin-top: 7px;
}

.mt8 {
    margin-top: 8px;
}

.mt9 {
    margin-top: 9px;
}

.mt10 {
    margin-top: 10px;
}

.mt11 {
    margin-top: 11px;
}

.mt12 {
    margin-top: 12px;
}

.mt13 {
    margin-top: 13px;
}

.mt14 {
    margin-top: 14px;
}

.mt15 {
    margin-top: 15px;
}

.mt16 {
    margin-top: 16px;
}

.mt17 {
    margin-top: 17px;
}

.mt18 {
    margin-top: 18px;
}

.mt19 {
    margin-top: 19px;
}

.mt20 {
    margin-top: 20px;
}

.mt21 {
    margin-top: 21px;
}

.mt22 {
    margin-top: 22px;
}

.mt23 {
    margin-top: 23px;
}

.mt24 {
    margin-top: 24px;
}

.mt25 {
    margin-top: 25px;
}

.mt26 {
    margin-top: 26px;
}

.mt27 {
    margin-top: 27px;
}

.mt28 {
    margin-top: 28px;
}

.mt29 {
    margin-top: 29px;
}

.mt30 {
    margin-top: 30px;
}

.mt31 {
    margin-top: 31px;
}

.mt32 {
    margin-top: 32px;
}

.mt33 {
    margin-top: 33px;
}

.mt34 {
    margin-top: 34px;
}

.mt35 {
    margin-top: 35px;
}

.mt36 {
    margin-top: 36px;
}

.mt37 {
    margin-top: 37px;
}

.mt38 {
    margin-top: 38px;
}

.mt39 {
    margin-top: 39px;
}

.mt40 {
    margin-top: 40px;
}

.mt41 {
    margin-top: 41px;
}

.mt42 {
    margin-top: 42px;
}

.mt43 {
    margin-top: 43px;
}

.mt44 {
    margin-top: 44px;
}

.mt45 {
    margin-top: 45px;
}

.mt46 {
    margin-top: 46px;
}

.mt47 {
    margin-top: 47px;
}

.mt48 {
    margin-top: 48px;
}

.mt49 {
    margin-top: 49px;
}

.mt50 {
    margin-top: 50px;
}


/* margin BOTTOM */

.mb1 {
    margin-bottom: 1px;
}

.mb2 {
    margin-bottom: 2px;
}

.mb3 {
    margin-bottom: 3px;
}

.mb4 {
    margin-bottom: 4px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb6 {
    margin-bottom: 6px;
}

.mb7 {
    margin-bottom: 7px;
}

.mb8 {
    margin-bottom: 8px;
}

.mb9 {
    margin-bottom: 9px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb11 {
    margin-bottom: 11px;
}

.mb12 {
    margin-bottom: 12px;
}

.mb13 {
    margin-bottom: 13px;
}

.mb14 {
    margin-bottom: 14px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb16 {
    margin-bottom: 16px;
}

.mb17 {
    margin-bottom: 17px;
}

.mb18 {
    margin-bottom: 18px;
}

.mb19 {
    margin-bottom: 19px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb21 {
    margin-bottom: 21px;
}

.mb22 {
    margin-bottom: 22px;
}

.mb23 {
    margin-bottom: 23px;
}

.mb24 {
    margin-bottom: 24px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb26 {
    margin-bottom: 26px;
}

.mb27 {
    margin-bottom: 27px;
}

.mb28 {
    margin-bottom: 28px;
}

.mb29 {
    margin-bottom: 29px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb31 {
    margin-bottom: 31px;
}

.mb32 {
    margin-bottom: 32px;
}

.mb33 {
    margin-bottom: 33px;
}

.mb34 {
    margin-bottom: 34px;
}

.mb35 {
    margin-bottom: 35px;
}

.mb36 {
    margin-bottom: 36px;
}

.mb37 {
    margin-bottom: 37px;
}

.mb38 {
    margin-bottom: 38px;
}

.mb39 {
    margin-bottom: 39px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb41 {
    margin-bottom: 41px;
}

.mb42 {
    margin-bottom: 42px;
}

.mb43 {
    margin-bottom: 43px;
}

.mb44 {
    margin-bottom: 44px;
}

.mb45 {
    margin-bottom: 45px;
}

.mb46 {
    margin-bottom: 46px;
}

.mb47 {
    margin-bottom: 47px;
}

.mb48 {
    margin-bottom: 48px;
}

.mb49 {
    margin-bottom: 49px;
}

.mb50 {
    margin-bottom: 50px;
}


/* margin LEFT */

.ml1 {
    margin-left: 1px;
}

.ml2 {
    margin-left: 2px;
}

.ml3 {
    margin-left: 3px;
}

.ml4 {
    margin-left: 4px;
}

.ml5 {
    margin-left: 5px;
}

.ml6 {
    margin-left: 6px;
}

.ml7 {
    margin-left: 7px;
}

.ml8 {
    margin-left: 8px;
}

.ml9 {
    margin-left: 9px;
}

.ml10 {
    margin-left: 10px;
}

.ml11 {
    margin-left: 11px;
}

.ml12 {
    margin-left: 12px;
}

.ml13 {
    margin-left: 13px;
}

.ml14 {
    margin-left: 14px;
}

.ml15 {
    margin-left: 15px;
}

.ml16 {
    margin-left: 16px;
}

.ml17 {
    margin-left: 17px;
}

.ml18 {
    margin-left: 18px;
}

.ml19 {
    margin-left: 19px;
}

.ml20 {
    margin-left: 20px;
}

.ml21 {
    margin-left: 21px;
}

.ml22 {
    margin-left: 22px;
}

.ml23 {
    margin-left: 23px;
}

.ml24 {
    margin-left: 24px;
}

.ml25 {
    margin-left: 25px;
}

.ml26 {
    margin-left: 26px;
}

.ml27 {
    margin-left: 27px;
}

.ml28 {
    margin-left: 28px;
}

.ml29 {
    margin-left: 29px;
}

.ml30 {
    margin-left: 30px;
}

.ml31 {
    margin-left: 31px;
}

.ml32 {
    margin-left: 32px;
}

.ml33 {
    margin-left: 33px;
}

.ml34 {
    margin-left: 34px;
}

.ml35 {
    margin-left: 35px;
}

.ml36 {
    margin-left: 36px;
}

.ml37 {
    margin-left: 37px;
}

.ml38 {
    margin-left: 38px;
}

.ml39 {
    margin-left: 39px;
}

.ml40 {
    margin-left: 40px;
}

.ml41 {
    margin-left: 41px;
}

.ml42 {
    margin-left: 42px;
}

.ml43 {
    margin-left: 43px;
}

.ml44 {
    margin-left: 44px;
}

.ml45 {
    margin-left: 45px;
}

.ml46 {
    margin-left: 46px;
}

.ml47 {
    margin-left: 47px;
}

.ml48 {
    margin-left: 48px;
}

.ml49 {
    margin-left: 49px;
}

.ml50 {
    margin-left: 50px;
}


/* margin RIGHT */

.mr1 {
    margin-right: 1px;
}

.mr2 {
    margin-right: 2px;
}

.mr3 {
    margin-right: 3px;
}

.mr4 {
    margin-right: 4px;
}

.mr5 {
    margin-right: 5px;
}

.mr6 {
    margin-right: 6px;
}

.mr7 {
    margin-right: 7px;
}

.mr8 {
    margin-right: 8px;
}

.mr9 {
    margin-right: 9px;
}

.mr10 {
    margin-right: 10px;
}

.mr11 {
    margin-right: 11px;
}

.mr12 {
    margin-right: 12px;
}

.mr13 {
    margin-right: 13px;
}

.mr14 {
    margin-right: 14px;
}

.mr15 {
    margin-right: 15px;
}

.mr16 {
    margin-right: 16px;
}

.mr17 {
    margin-right: 17px;
}

.mr18 {
    margin-right: 18px;
}

.mr19 {
    margin-right: 19px;
}

.mr20 {
    margin-right: 20px;
}

.mr21 {
    margin-right: 21px;
}

.mr22 {
    margin-right: 22px;
}

.mr23 {
    margin-right: 23px;
}

.mr24 {
    margin-right: 24px;
}

.mr25 {
    margin-right: 25px;
}

.mr26 {
    margin-right: 26px;
}

.mr27 {
    margin-right: 27px;
}

.mr28 {
    margin-right: 28px;
}

.mr29 {
    margin-right: 29px;
}

.mr30 {
    margin-right: 30px;
}

.mr31 {
    margin-right: 31px;
}

.mr32 {
    margin-right: 32px;
}

.mr33 {
    margin-right: 33px;
}

.mr34 {
    margin-right: 34px;
}

.mr35 {
    margin-right: 35px;
}

.mr36 {
    margin-right: 36px;
}

.mr37 {
    margin-right: 37px;
}

.mr38 {
    margin-right: 38px;
}

.mr39 {
    margin-right: 39px;
}

.mr40 {
    margin-right: 40px;
}

.mr41 {
    margin-right: 41px;
}

.mr42 {
    margin-right: 42px;
}

.mr43 {
    margin-right: 43px;
}

.mr44 {
    margin-right: 44px;
}

.mr45 {
    margin-right: 45px;
}

.mr46 {
    margin-right: 46px;
}

.mr47 {
    margin-right: 47px;
}

.mr48 {
    margin-right: 48px;
}

.mr49 {
    margin-right: 49px;
}

.mr50 {
    margin-right: 50px;
}