<script>
        window["aa21"] = {
            indice: "aa21",
            status: false,
        }
    
        $("body").on('navegacaoComplete', function() {
    
            if ((course.config[course.indice].id).toUpperCase() == ("aa21").toUpperCase()) {
    
                var _tela = window[course.config[course.indice].id];
                var _containerTela = $(".container" + (_tela.indice).toUpperCase());
    
            
                if (_tela.status == false) {
                    _tela.status = true;
    
                    //posiciona o elemento com base no tamanho real da imagem de fundo COVER
                    _containerTela.find(".posicionar").positionCSS({
                        box: _containerTela.find('.containerGeral'),
                        img_H: course.height,
                        img_W: course.width
                    });

                    controle();
    
                  
                } else {
    
                }

                function controle(){

                  _containerTela.find(".btnMenuReturn").css('display','none');
                  _containerTela.find(".btnMenuReturn").on('click', function(){
                      course.returnMenu(5);
                  });

                    _containerTela.find(".item2").addClass('sInativo');
                    _containerTela.find(".bl2").addClass('sInativo');

                    _containerTela.find(".seta").on('click', function(){
                        
                        $(this).css('pointer-events', 'none');
                        $(this).find('.setaIn').removeClass('animated infinite pulse');
                        $(this).find('.fa-chevron-down').css('display', 'none');
                        $(this).find('.fa-chevron-up').css('display', 'block');
                        
                        $(this).parent().find('.item2').removeClass('sInativo');
                        _containerTela.find(".bl2").removeClass('sInativo');

                        $(this).attr('ativo', 1);

                        var _comp = true;
                        _containerTela.find(".seta").each(function(indice, item){
                            if( !$(item).attr('ativo') )
                                _comp = false;
                        })

                        if(_comp){
                            _containerTela.find(".btnMenuReturn").css('display','block');
                        }
                    });
                   
                }
    
               
            }
            
    
        })
    </script>
    
    
    <div class="containerAA21 containerAABase">
        <div class="containerGeral">
            
            <div class="content posicionar animated fadeIn delay0_4 branco size22" px="210" py="130">
                <div class="item animated fadeInRight delay0_6">
                    <div class="ico"></div>
                    <div class="text">
                        Lidando<br> com suspeitas
                    </div>
                </div>
                <div class="sub animated fadeInRight delay0_8">
                    <div class="cinza1">
                          Clique nas setas para saber como agir em cada tipo de fraude.
                    </div>       
                </div>
            </div> 

            <div class="titulo posicionar xbold size24 cinza1 animated fadeIn delay1_2" px="245" py="340">
                <div class="subT">
                    No caso de fraudes internas
                </div>
                  <div class="subT">
                    No caso de fraudes externas
                </div>
            </div>

            <div class="blocos posicionar animated fadeIn delay1_2 branco size22" px="210" py="370">
              

                <div class="block bl1">
                    
                    <div class="seta azul1 size50">
                        <div class="setaIn animated infinite pulse">
                          <i class="fas fa-chevron-down"></i>
                          <i class="fas fa-chevron-up"></i>
                        </div>
                    </div>
                     <div class="it item2 cinza1 animated fadeInUp">
                        Quando detectada alguma suspeita de fraude envolvendo 
                        funcionários da seguradora, as informações deverão ser 
                        imediatamente comunicadas à área de Legal & Compliance, que 
                        ficará responsável pela apuração dos fatos e definição das 
                        medidas legais cabíveis a serem tomadas. A denúncia pode 
                        ser feita por telefone ou pela internet, por meio do <span class="bold">
                          Zurich Ethics Line (ZEL)
                        </span>.
                    </div>
                </div>

               <div class="block bl2">
                    
                    <div class="seta azul1 size50">
                        <div class="setaIn animated infinite pulse">
                          <i class="fas fa-chevron-down"></i>
                          <i class="fas fa-chevron-up"></i>
                        </div>
                    </div>
                     <div class="it item2 cinza1 animated fadeInUp">
                        No caso de fraudes nos processos de aceitação de seguros 
                        e liquidação de sinistros em que haja envolvimento ou não 
                        de prestadores de serviços, o fato pode ser denunciado por e-mail 
                        ao <span class="bold">Canal de Denúncia à Fraude Externa</span>, com o 
                        preenchimento do <span class="bold">Formulário 
                        de Denúncia a Fraudes Externas</span> <br>no site da Zurich.
                    </div>
                </div>

            </div>

            <div class="btnMenuReturn posicionar size26 animated fadeIn delay0_4" px="570" py="700">
                <div class="btnIt animated zoomIn">
                    Menu
                </div>
            </div>
           
            
        </div>
    
    
    </div>