<script>
    window["aa21"] = {
        indice: "aa21",
        status: false,
        correto: 0,
        tema: 3,
        exerc: 2
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa21").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                box: _containerTela.find('.containerGeral'),
                img_H: course.height,
                img_W: course.width,
            });


            block();
            if (_tela.status == false) {
                _tela.status = true;


                exercicio();

            } else {

            }

            function block() {



                var _exercCurrent = "e" + _tela.tema + "_" + _tela.exerc;


                if (course.scorm_get_suspendData(_exercCurrent)) {

                    course.notaCurrent();

                    var _res = course.scorm_get_suspendData(_exercCurrent);

                    if (_res == 1) {
                        _containerTela.find(".feedPositivo").css('display', 'flex');
                    } else {
                        _containerTela.find(".feedNegativo").css('display', 'flex');
                    }
                    course.liberarNavegacao();
                } else {
                    _containerTela.find('.itemL').removeClass("inativoX");
                    _containerTela.find('.numR').removeClass("inativoX");
                    _containerTela.find('.numL').removeClass('numLAtivo');
                    _containerTela.find(".feed").css('display', 'none');

                    _containerTela.find('.numR').text('');
                    _containerTela.find('.numR').css('background-color', '#fff');
                }




            }

            function exercicio() {

                var _item;
                var _oldItem = _containerTela.find('.numR');
                var _travar = false;

                _containerTela.find('.itemL').on('click', function() {

                    _containerTela.find('.numL').addClass('animated');
                    _containerTela.find('.numL').removeClass('numLAtivo');

                    $(this).find('.numL').removeClass('animated');
                    $(this).find('.numL').addClass('numLAtivo');

                    _item = $(this).find('.numL');

                });

                _containerTela.find('.numR').on('click', function() {

                    var _txt = _item.text();
                    var _itemCurrent = _item.attr('item');
                    var _color = _item.css('background-color');

                    _containerTela.find('.numR').each(function() {
                        if ($(this).text() == _item.text()) {
                            $(this).text('');
                            $(this).css('background-color', '#fff');
                        }
                    });

                    $(this).text(_txt);
                    $(this).attr('item', _itemCurrent);
                    $(this).css('background-color', _color);

                    var _comp = true;
                    var _res = true;
                    _containerTela.find('.numR').each(function() {

                        if ($(this).text() == '') {
                            _comp = false;
                            _containerTela.find(".btnConfirmar").css('display', 'none');
                        }

                        if ($(this).attr('item') != $(this).attr('res')) {
                            _res = false;
                        }
                    });

                    //verifica se todos estao preenchios
                    if (_comp)
                        _containerTela.find(".btnConfirmar").css('display', 'flex');



                    //verifica se a resposta esta correta
                    if (_res) {
                        _tela.correto = 1;
                    } else {
                        _tela.correto = 0;
                    }

                });

                _containerTela.find(".btnConfirmar").on('click', function() {

                    _containerTela.find(".btnConfirmar").css('display', 'none');
                    var _exercCurrent = "e" + _tela.tema + "_" + _tela.exerc;

                    //
                    if (_tela.correto == 1) {
                        course.scorm_set_suspendData(_exercCurrent, 1);
                        course.notaCurrent();
                        _containerTela.find(".feedPositivo").css('display', 'flex');


                    } else {
                        course.scorm_set_suspendData(_exercCurrent, 0);
                        course.notaCurrent();
                        _containerTela.find(".feedNegativo").css('display', 'flex');

                    }

                    var _feito = [];

                    _containerTela.find(".numR").each(function(indice, item) {
                        _feito.push({
                            text: $(item).text(),
                            color: $(item).css('background-color')
                        });
                    });

                    var _exercCurrent = "ed" + _tela.tema + "_" + _tela.exerc;
                    course.scorm_set_suspendData(_exercCurrent, JSON.stringify(_feito));

                });


                _containerTela.find(".fecharFeed").on("click", function() {
                    // $("body").attr("nav", "next");
                    // $("body").trigger("navegacao");

                    var _exercCurrent = "ed" + _tela.tema + "_" + _tela.exerc;
                    if (course.scorm_get_suspendData(_exercCurrent)) {
                        var _feito = JSON.parse(course.scorm_get_suspendData(_exercCurrent));

                        $.each(_feito, function(indice, item) {
                            _containerTela.find('.numR').eq(indice).css('background-color', item.color);
                            _containerTela.find('.numR').eq(indice).text(item.text);
                        });
                    }


                    _containerTela.find('.itemL').addClass("inativoX");
                    _containerTela.find('.numR').addClass("inativoX");
                    _containerTela.find('.numL').removeClass('numLAtivo');
                    _containerTela.find(".feed").css('display', 'none');

                    course.liberarNavegacao();
                });
            }
        }
    })
</script>


<div class="containerAA21 containerAABase">

    <div class="containerGeral">

        <div class="titulo posicionar animated fadeIn" px="127" py="230">
            <div class="icox animated zoomIn delay0_8">

            </div>
            <div class="txtx animated fadeInUp delay0_8 light size35 azul3">
                Com a LGPD, o Comitê Executivo fica responsável por monitorar a aplicação do Programa de Privacidade da Zurich. Abaixo dele, há importantes níveis de proteção de dados. Clique no número e, depois, no campo ao lado da definição correta.
            </div>
        </div>

        <div class="lineBase posicionar animated fadeIn" px="127" py="400">
            <div class="animated fadeInRight delay1_2"></div>
        </div>

        <div class="content posicionar animated fadeIn delay1_6" px="130" py="430">
            <div class="exercicio size25 ">
                <div class="item">
                    <div class="itemL">
                        <div class="textL size28 azul1">
                            O Comitê de Proteção de Dados composto por diretores, superintendentes ou gerentes da companhia, e é responsável...
                        </div>
                        <div class="numL bold branco" item=1>
                            01
                        </div>
                    </div>
                    <div class="itemR">
                        <div class="numR bold branco" res=3></div>
                        <div class="textR size28">
                            ... por observar e atender as diretrizes da Política da Zurich, bem como auxiliar os outros colaboradores com relação à privacidade e proteção de dados.
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="itemL">
                        <div class="textL size28 azul1">
                            O encarregado/DPO é responsável,<br> entre outras coisas,...
                        </div>
                        <div class="numL bold branco" item=2>
                            02
                        </div>
                    </div>
                    <div class="itemR">
                        <div class="numR bold branco" res=4></div>
                        <div class="textR size28">
                            ... por conhecer a política da Zurich, participar dos treinamentos, compreender a importância da lei e as consequências de sua não aplicação.
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="itemL">
                        <div class="textL size28 azul1">
                            Os agentes de proteção de <br>dados são responsáveis...
                        </div>
                        <div class="numL bold branco" item=3>
                            03
                        </div>
                    </div>
                    <div class="itemR">
                        <div class="numR bold branco" res=1></div>
                        <div class="textR size28">
                            ... pela aplicação e deliberação a respeito da proteção de dados.
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="itemL">
                        <div class="textL size28 azul1">
                            Os demais colaboradores são responsáveis...
                        </div>
                        <div class="numL bold branco" item=4>
                            04
                        </div>
                    </div>
                    <div class="itemR">
                        <div class="numR bold branco" res=2></div>
                        <div class="textR size28">
                            ... pelo aconselhamento do controlador e pelo monitoramento da organização com relação a aplicação da legislação.
                        </div>
                    </div>
                </div>



            </div>
        </div>

        <div class="btnConfirmar posicionar size35" px="1378" py="975">
            <div class="btnX light animated zoomIn delay0_2">
                Responder
            </div>
            <div class="btnY bold animated zoomIn delay0_4">
                01 Ponto
            </div>
        </div>

        <div class="feed feedPositivo posicionar animated fadeIn azul1" px="0" py="0">

            <div class="feedBase animated fadeInUp delay0_6 branco">
                <div class="fecharFeed"></div>

                <div class="feedInt ">
                    <div class="tiX size70 light">
                        Parabéns!
                    </div>

                    <div class="size35 mt20">
                        Você relacionou corretamente os níveis e suas definições. É importante conhecer o papel de cada um para que a gente consiga garantir a segurança dos dados de nossos clientes.
                    </div>

                    <div class="subInfo">
                        <div class="bold size40 up">
                            Sua pontuação é:
                        </div>
                        <div class="bold size65">
                            <span class="numberCurrent">01</span> de <span class="numberAll">08</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="feed feedNegativo posicionar animated fadeIn azul1" px="0" py="0">

            <div class="feedBase animated fadeInUp delay0_6 azul1">
                <div class="fecharFeed"></div>

                <div class="feedInt ">
                    <div class="tiX size70 light">
                        Não foi desta vez!
                    </div>

                    <div class="size35 mt20">
                        Você errou duas ou mais definições. É importante conhecer o papel de cada um para que a gente consiga garantir a segurança dos dados de nossos clientes.
                    </div>

                    <div class="subInfo">
                        <div class="bold size40 up">
                            Sua pontuação é:
                        </div>
                        <div class="bold size65">
                            <span class="numberCurrent">01</span> de <span class="numberAll">08</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    </div>

</div>