<div id="v5_lightbox" class="v5_lightbox_motion animated fadeIn">
    <div class="bcg"></div>
    <div class="containerModal">
        <div class="modalIframe sairModal size22">
            <div class='tituloSair azul2 bold size30'> Atenção </div>
            <div class='subtituloSair size20'> Deseja mesmo fechar a janela e sair? </div>
            <div class="btnsSair bold">
                <div class='simSair mr20'> Sim </div>
                <div class='naoSair'> Não </div>
            </div>
        </div>
    </div>
</div>