<script>
    window["aa4"] = {
        indice: "aa4",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa4").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                box: _containerTela.find('.containerGeral'),
                img_H: course.height,
                img_W: course.width,
            });


            if (_tela.status == false) {
                _tela.status = true;


                controleFeed();


            } else {

            }

            function controleFeed() {

                _containerTela.find(".feed").css('display', 'none');
                _containerTela.find(".item").addClass('itemInativo');
                _containerTela.find(".item1").removeClass('itemInativo');

                var _all = _containerTela.find(".item").length;
                var _current = 0;


                _containerTela.find(".item").on('click', function() {

                    _current = $(this).attr('item');


                    _containerTela.find(".feed" + _current).css('display', 'flex');

                });


                _containerTela.find(".fecharFeed").on('click', function() {
                    _containerTela.find(".feed").css('display', 'none');

                    var _next = parseInt(_current) + 1;

                    _containerTela.find(".item" + _next).removeClass('itemInativo');

                    if (_current == _all) {
                        course.liberarNavegacao();
                    }
                });

            }
        }
    })
</script>


<div class="containerAA4 containerAABase">

    <div class="containerGeral">

        <div class="titulo posicionar animated fadeIn" px="118" py="230">
            <div class="animated fadeInUp delay0_8 light size47 branco">
                Começando pelo básico, vamos conhecer as primeiras e mais importantes definições relacionadas à proteção de dados:
            </div>
        </div>

        <div class="lineBase posicionar animated fadeIn" px="127" py="424">
            <div class="animated fadeInRight delay1_2"></div>
        </div>

        <div class="listBase posicionar animated fadeIn azul1 size41 bold2" px="155" py="637">

            <div class="item item1 animated zoomIn delay1_4" item="1">
                Escopo
            </div>

            <div class="item item2 animated zoomIn delay1_6" item="2">
                Aplicação
            </div>

            <div class="item item3 animated zoomIn delay1_8" item="3">
                Critérios
            </div>

            <div class="item item4 animated zoomIn delay2_0" item="4">
                Fundamentos
            </div>

            <div class="item item5 animated zoomIn delay2_2" item="5">
                Tratamento
            </div>

            <div class="item item6 animated zoomIn delay2_4" item="6">
                Consentimento
            </div>


        </div>

        <div class="feed feed1 posicionar animated fadeIn azul1" px="0" py="0">

            <div class="feedBase animated fadeInUp delay0_6">
                <div class="fecharFeed"></div>

                <div class="feedInt book2">
                    <div class="tiX size65 bold2">
                        Escopo
                    </div>
                    <div class="size30 mt20">
                        <span class="bold2">Dado pessoal:</span> Qualquer informação relacionada a uma pessoa natural que possa ser identiﬁcada ou identificável a partir dos dados coletados.
                        <br><br>
                        <span class="bold2">Pessoal Sensível:</span> dado pessoal sobre origem racial ou étnica, convicção religiosa, opinião política, caráter religioso, dado referente à saúde ou à vida sexual, biométrico etc.
                        <br><br>
                        <span class="bold2">Os dados das pessoas jurídicas não estão protegidas pela Lei</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="feed feed2 posicionar animated fadeIn azul1" px="0" py="0">

            <div class="feedBase animated fadeInUp delay0_6">
                <div class="fecharFeed"></div>

                <div class="feedInt book2">
                    <div class="tiX size65 bold2">
                        Aplicação
                    </div>
                    <div class="size30 mt20">
                        Qualquer pessoa natural ou jurídica de direito público ou privado que realize qualquer tipo de tratamento de dados pessoais (coleta até a eliminação de dados).
                    </div>
                </div>
            </div>
        </div>

        <div class="feed feed3 posicionar animated fadeIn azul1" px="0" py="0">

            <div class="feedBase animated fadeInUp delay0_6">
                <div class="fecharFeed"></div>

                <div class="feedInt book2">
                    <div class="tiX size65 bold2">
                        Critérios
                    </div>
                    <div class="size30 mt20">
                        Aplicada para tratamento realizado no Brasil, para oferecer ou fornecer bens ou serviços ou tratamento de dados de pessoa natural localizada no Brasil.
                    </div>
                </div>
            </div>
        </div>



        <div class="feed feed4 posicionar animated fadeIn azul1" px="0" py="0">

            <div class="feedBase animated fadeInUp delay0_6">
                <div class="fecharFeed"></div>

                <div class="feedInt book2">
                    <div class="tiX size65 bold2">
                        Critérios
                    </div>
                    <div class="size30 mt20">
                        <ul>
                            <li>
                                Respeito a Privacidade
                            </li>
                            <li>
                                Autodeterminação informativa
                            </li>
                            <li>
                                Inviolabilidade da intimidade, honra e imagem
                            </li>

                            <li>
                                Desenvolvimento econômico, tecnológico e a inovação
                            </li>
                            <li>
                                Livre iniciativa, concorrência e defesa do consumidor
                            </li>
                            <li>
                                Direitos humanos, livre desenvolvimento da personalidade, a dignidade e cidadania
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="feed feed5 posicionar animated fadeIn azul1" px="0" py="0">

            <div class="feedBase animated fadeInUp delay0_6">
                <div class="fecharFeed"></div>

                <div class="feedInt book2">
                    <div class="tiX size65 bold2">
                        Tratamento
                    </div>
                    <div class="size30 mt20">
                        Toda operação realizada com dados pessoais, como coleta, utilização, processamento, armazenamento e eliminação. Acontece em duas hipóteses:
                    </div>
                    <div class="size30 mt20">
                        <ul>
                            <li>
                                Mediante consentimento.
                            </li>
                            <li>
                                Sem consentimento, quando:
                            </li>
                        </ul>
                        <div class="ml40">
                            <ul>
                                <li>
                                    Cumprimento de obrigação legal ou regulatória.
                                </li>
                                <li>
                                    Execução de políticas públicas ou estudos por órgãos públicos de pesquisa, garantindo a anonimização.
                                </li>
                                <li>
                                    Tutela da saúde exclusivamente realizado por profissionais de saúde.
                                </li>
                                <li>
                                    Interesse legítimo do controlador ou terceiro.
                                </li>
                                <li>
                                    Exercício regular de direitos em processo judicial, administrativo ou arbitral.
                                </li>
                                <li>
                                    Proteção da vida, incolumidade física, ou de crédito do titular ou de terceiro.
                                </li>
                                <li>
                                    Cumprimento de contrato ou procedimentos preliminares em que o titular é parte e a pedido deste.
                                </li>
                                <li>
                                    Garantia de Prevenção a Fraude e a segurança do titular nos processos de autenticação e certificação de processo eletrônico.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="feed feed6 posicionar animated fadeIn azul1" px="0" py="0">

            <div class="feedBase animated fadeInUp delay0_6">
                <div class="fecharFeed"></div>

                <div class="feedInt book2">
                    <div class="tiX size65 bold2">
                        Consentimento
                    </div>
                    <div class="size30 mt20">
                        Manifestação livre, informada e inequívoca pelo qual o titular concorda com o tratamento de seus dados pessoais para uma finalidade determinada.
                    </div>
                    <div class="size30 mt20 feedV">
                        <ul>
                            <li>
                                Deve ser fornecido por escrito ou por outro meio que demonstre a efetiva manifestação de vontade do titular, em cláusula destacada dos demais termos contratuais.
                            </li>
                            <li>
                                Para dar tratamento diverso daquele informado e, se alteradas as ﬁnalidades iniciais, deverá ser obtido novo consentimento do titular.
                            </li>
                            <li>
                                Titular poderá, a qualquer tempo, revogar o consentimento, ﬁcando o tratamento dos dados limitado às hipóteses em que o consentimento é dispensado, respeitados os demais requisitos legais.
                            </li>
                            <li>
                                Dados Pessoais de Crianças e Adolescentes - Para o tratamento é necessário consentimento específico e em destaque de pelo menos um dos pais ou responsável legal.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>