<div class="nano nano-debug">
    <div class="nano-content nano-content-debug">
        <div class="debugItem" id="debugItem1">
            <div class="debugIndice">1</div>
            <div class="debugId">AA1</div>
            <div class="debugPath">aa1/index.html</div>
            <div class="debugParentTitulo">Capacitação Trabalhista</div>
        </div>
    </div>
</div>
<div class="debugStatus">
    <div class="debugIndiceCurrent">indice: <spam>1</spam> | </div>
    <div class="debugIdCurrent">id: <spam>aa1</spam> | </div>
    <div class="debugPathCurrent">path: <spam> aa1/index.html </spam> | </div>
    <div class="enviarParaCurrent">Ir para: <input size="5" maxlength="5"> <button type="button">ir</button></div>
    <div class="cacheCurrent"><button type="button">Limpar Cache</button></div>
    <div class="open">Abrir</div>
</div>