<script>
    window["aa15"] = {
        indice: "aa15",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa15").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                box: _containerTela.find('.containerGeral'),
                img_H: course.height,
                img_W: course.width,
            });


            if (_tela.status == false) {
                _tela.status = true;

                controle();

            } else {

            }

            function controle() {






            }
        }
    })
</script>


<div class="containerAA15 containerAABase">

    <div class="containerGeral">

        <div class="titulo posicionar animated fadeIn" px="127" py="230">
            <div class="animated fadeInUp delay0_8 light size45 azul3">
                Até agora falamos da aplicação da LGDP. Mas há casos em que ela não se aplica.<br> Veja abaixo:
            </div>
        </div>

        <div class="lineBase posicionar animated fadeIn" px="127" py="380">
            <div class="animated fadeInRight delay1_2"></div>
        </div>

        <div class="baseTip posicionar animated fadeIn  size22 azul3 center" px="237" py="450">

            <div class="item item1 animated zoomIn delay1_4">
                <div class="icoX"></div>
                <div class="txtX">
                    Pessoa natural para fins exclusivamente particulares e não econômicos.
                </div>
            </div>

            <div class="item item2 animated zoomIn delay1_6">
                <div class="icoX"></div>
                <div class="txtX">
                    Fins jornalísticos <br>e artísticos.
                </div>
            </div>

            <div class="item item3 animated zoomIn delay1_8">
                <div class="icoX"></div>
                <div class="txtX">
                    Acadêmicos.
                </div>
            </div>

            <div class="item item4 animated zoomIn delay2_0">
                <div class="icoX"></div>
                <div class="txtX">
                    Segurança pública, Defesa nacional, ou Segurança <br>do Estado.
                </div>
            </div>

            <div class="item item5 animated zoomIn delay2_2">
                <div class="icoX"></div>
                <div class="txtX">
                    Atividades de investigação e repressão de infrações penais.
                </div>
            </div>

            <div class="item item6 animated zoomIn delay2_4">
                <div class="icoX"></div>
                <div class="txtX">
                    Fora do país, sem envolvimento de agentes <br>de tratamento<br> brasileiro internacional.
                </div>
            </div>



        </div>



    </div>

</div>